{%- set model = model.structured_cst_model -%}

use serde::Serialize;
use strum::Display;

#[derive(Clone, Copy, Debug, Display, Eq, Hash, PartialEq, PartialOrd, Ord, Serialize)]
pub enum TerminalKind {
    #[allow(clippy::upper_case_acronyms)]
    UNRECOGNIZED,

    {% for terminal in model.terminals -%}
        {{ terminal }},
    {% endfor %}
}

impl TerminalKind {
    /// Whether this terminal is a keyword that is not reserved in some (or all) versions,
    /// and can therefore also appear as an identifier.
    pub fn is_unreserved_keyword(&self) -> bool {
        matches!(
            self,
            {% for keyword in model.unreserved_keywords -%}
                Self::{{ keyword }}
                {% if not loop.last %} | {% endif %}
            {% endfor %}
        )
    }
}
