use slang_solidity_v2_common::versions::{LanguageVersion, LanguageVersionSpecifier};
use slang_solidity_v2_common::built_ins::BuiltIn as PublicBuiltIn;
use slang_solidity_v2_common::nodes::NodeId;
use crate::types::TypeId;

/// This is the internal representation of a built-in resolution and typing.
/// It's richer than the public enum defined in the `common` crate because it
/// contains additional information about the specific built-in use. Eg.
/// `.push()` or `AraryPush` needs to carry the type of the original array to
/// correctly resolve the type in a function call context.
#[derive(Clone, Copy, Debug, Eq, Hash, PartialEq)]
pub enum BuiltIn {
    {% for context in model.language.built_ins -%}
    {% for scope in context.scopes -%}
    {% for definition in scope.definitions %}
    {{ definition.name }}
      {%- if definition.internal_parameter -%}
        ({{ definition.internal_parameter }})
      {%- endif -%},
    {%- endfor %}
    {% endfor -%}
    {% endfor %}
}

impl BuiltIn {
    /// Converts this internal built-in representation to the public enum type
    /// defined in the `common` crate.
    #[allow(clippy::too_many_lines)]
    pub fn to_public(&self) -> PublicBuiltIn {
        match self {
            {% for context in model.language.built_ins -%}
            {% for scope in context.scopes -%}
            {% for definition in scope.definitions %}
            Self::{{ definition.name }}{% if definition.internal_parameter %}(_){% endif %} =>
              PublicBuiltIn::{{ definition.name }},
            {%- endfor %}
            {% endfor -%}
            {% endfor %}
        }
    }

    // Version ranges for built-ins introduced or deprecated in the supported versions

    {% for context in model.language.built_ins -%}
    {%- for scope in context.scopes -%}
    {%- for definition in scope.definitions -%}
      {%- if definition.enabled.type != "Always" %}
        pub(super) const {{ definition.name | snake_case | upper }}_VERSIONS: LanguageVersionSpecifier =
        {%- if definition.enabled.type == "From" %}
          {%- set v = definition.enabled.from | split(pat=".") | join(sep="_") -%}
          LanguageVersionSpecifier::From { from: LanguageVersion::V{{ v }} };
        {%- elif definition.enabled.type == "Till" %}
          {%- set v = definition.enabled.till | split(pat=".") | join(sep="_") -%}
          LanguageVersionSpecifier::Till { till: LanguageVersion::V{{ v }} };
        {%- elif definition.enabled.type == "Range" %}
          {%- set vf = definition.enabled.from | split(pat=".") | join(sep="_") -%}
          {%- set vt = definition.enabled.till | split(pat=".") | join(sep="_") -%}
          LanguageVersionSpecifier::Range {
              from: LanguageVersion::V{{ vf }},
              till: LanguageVersion::V{{ vt }},
          };
        {% endif -%}
      {% endif -%}
    {%- endfor -%}
    {%- endfor -%}
    {%- endfor -%}
}
