[package]
name = "solidity_testing_perf"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
publish = false

[dev-dependencies]
iai-callgrind = { workspace = true }
semver = { workspace = true }
metaslang_bindings = { workspace = true }
slang_solidity = { workspace = true, features = [
  "__experimental_bindings_api",
] }

[[bench]]
name = "iai"
harness = false

[lints]
workspace = true
