#[allow(clippy::needless_raw_string_hashes)]
pub const USER_BINDING_RULES_SOURCE: &str = r#####"
    {{ model.bindings.user_binding_rules_source }}
"#####;

#[allow(clippy::needless_raw_string_hashes)]
pub const SYSTEM_BINDING_RULES_SOURCE: &str = r#####"
    {{ model.bindings.system_binding_rules_source }}
"#####;