use std::convert::TryFrom;

use semver::Version;
use thiserror::Error;

/// All supported versions of `{{ model.language.name }}`. 
#[derive(Clone, Copy, Debug, Eq, Ord, PartialEq, PartialOrd)]
pub enum LanguageVersion {
    {% for version in model.language.versions %}    
        V{{ version | split(pat=".") | join(sep="_") }},
    {%- endfor -%}
}

#[derive(Debug, Error, PartialEq)]
pub enum FromVersionErrors {
    #[error("version '{0}' is not supported")]
    UnsupportedVersion(Version),
    #[error("versions with pre-release or build metadata are not supported")]
    PreReleaseOrBuildMetadata,
}

impl TryFrom<Version> for LanguageVersion {
    type Error = FromVersionErrors;

    fn try_from(version: Version) -> Result<Self, Self::Error> {
        let Version {
            major,
            minor,
            patch,
            pre,
            build,
        } = &version;

        if !pre.is_empty() || !build.is_empty() {
            return Err(FromVersionErrors::PreReleaseOrBuildMetadata);
        }

        Ok(match (major, minor, patch) {
            {%- for version in model.language.versions %}
                ({{ version | split(pat=".") | join(sep=", ") }}) => {
                    LanguageVersion::V{{ version | split(pat=".") | join(sep="_") }}
                }
            {%- endfor %}
            _ => return Err(FromVersionErrors::UnsupportedVersion(version)),
        })
    }
}
