{%- if rendering_in_stubs -%}
  export class StubAst {}
{%- else -%}
    import * as assert from "node:assert";
    import { ast_internal } from "../../napi-bindings/generated";
    import { NodeType, NonterminalKind, NonterminalNode, TerminalNode } from "../../cst";

    /*
    * Sequences:
    */

    {% for sequence in model.ast.sequences %}
      export class {{ sequence.parent_type }} {
        private readonly fetch = once(() => {
          const [
            {%- for field in sequence.fields %}
              ${{ field.label | camel_case }},
            {%- endfor %}
          ] = ast_internal.selectSequence(this.cst);

          return {
            {%- for field in sequence.fields %}
              {{ field.label | camel_case }}:
              {%- if field.is_optional -%}
                ${{ field.label | camel_case }} === null ? undefined :
              {%- endif -%}
              {%- if field.type -%}
                new {{ field.type }}(${{ field.label | camel_case }} as NonterminalNode),
              {%- else -%}
                ${{ field.label | camel_case }} as TerminalNode,
              {%- endif -%}
            {% endfor -%}
          };
        });

        public constructor(public readonly cst: NonterminalNode) {
          assertKind(this.cst.kind, NonterminalKind.{{ sequence.parent_type }});
        }

        {% for field in sequence.fields %}
          public get {{ field.label | camel_case }}() :
            {%- if field.type -%}
              {{ field.type }}
            {%- else -%}
              TerminalNode
            {%- endif -%}
            {%- if field.is_optional -%}
              | undefined
            {%- endif -%}
          {
            return this.fetch().{{ field.label | camel_case }};
          }
        {% endfor %}
      }
    {% endfor %}

    /*
    * Choices:
    */

    {% for choice in model.ast.choices %}
      export class {{ choice.parent_type }} {
        {%- set variant_types = choice.nonterminal_types -%}
        {%- if choice.includes_terminals -%}
          {%- set variant_types = variant_types | concat(with = "TerminalNode") -%}
        {%- endif -%}
        {%- set variant_types = variant_types | join(sep = " | ") -%}

        private readonly fetch: () => {{ variant_types }} = once(() => {
          const variant = ast_internal.selectChoice(this.cst);

          {% if choice.nonterminal_types | length == 0 -%}
            return variant as TerminalNode;
          {%- else -%}
            {% if choice.includes_terminals -%}
              if (variant.type == NodeType.Terminal) {
                  return variant as TerminalNode;
              }
            {%- endif %}

            switch (variant.kind) {
              {%- for nonterminal in choice.nonterminal_types %}
                case NonterminalKind.{{ nonterminal }}:
                  return new {{ nonterminal }}(variant as NonterminalNode);
              {%- endfor %}

              default:
                assert.fail(`Unexpected variant: ${variant.kind}`);
            }
          {%- endif %}
        });

        public constructor(public readonly cst: NonterminalNode) {
          assertKind(this.cst.kind, NonterminalKind.{{ choice.parent_type }});
        }

        public get variant(): {{ variant_types }} {
          return this.fetch();
        }
      }
    {% endfor %}

    /*
    * Repeated:
    */

    {% for repeated in model.ast.repeated %}
      export class {{ repeated.parent_type }} {
        private readonly fetch = once(() => {
          const items = ast_internal.selectRepeated(this.cst);

          {%- if repeated.item_type -%}
            return items.map((item) => new {{ repeated.item_type }}(item as NonterminalNode));
          {%- else -%}
            return items as TerminalNode[];
          {%- endif -%}
        });
          
        public constructor(public readonly cst: NonterminalNode) {
          assertKind(this.cst.kind, NonterminalKind.{{ repeated.parent_type }});
        }

        public get items():
          {%- if repeated.item_type -%}
            readonly {{ repeated.item_type }}[]
          {%- else -%}
            readonly TerminalNode[]
          {%- endif -%}
        {
          return this.fetch();
        }
      }
    {% endfor %}

    /*
    * Separated:
    */

    {% for separated in model.ast.separated %}
      export class {{ separated.parent_type }} {
        private readonly fetch = once(() => {
          const [items, separators] = ast_internal.selectSeparated(this.cst);

          return {
            {%- if separated.item_type -%}
              items: items.map((item) => new {{ separated.item_type }}(item as NonterminalNode)),
            {%- else -%}
              items: items as TerminalNode[],
            {%- endif -%}
            separators: separators as TerminalNode[],
          };
        });

        public constructor(public readonly cst: NonterminalNode) {
          assertKind(this.cst.kind, NonterminalKind.{{ separated.parent_type }});
        }

        public get items():
          {%- if separated.item_type -%}
            readonly {{ separated.item_type }}[]
          {%- else -%}
            readonly TerminalNode[]
          {%- endif -%}
        {
          return this.fetch().items;
        }

        public get separators(): readonly TerminalNode[] {
          return this.fetch().separators;
        }
      }
    {% endfor %}

    /*
    * Helpers:
    */

    function once<T>(factory: () => T): () => T {
      let value: T | undefined;
      return () => {
        if (value === undefined) {
          value = factory();
        }
        return value;
      };
    }

    function assertKind(actual: NonterminalKind, expected: NonterminalKind): void {
      assert.equal(actual, expected, `${expected} can only be initialized with a CST node of the same kind.`);
    }
{%- endif %}
