# Use LF instead of CRLF everywhere
* text eol=lf
# ...except for some snapshot tests
/crates/solidity/testing/snapshots/cst_output/StringLiteral/escape_newline_single_quote_crlf/input.sol

# Generated Sources
**/generated/** linguist-generated=true

# Lock Files
**/Cargo.lock linguist-generated=true
**/package-lock.json linguist-generated=true
**/Pipfile.lock linguist-generated=true

# VSCode Settings
.vscode/*.json linguist-language=jsonc
