{
  "bracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 120,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "plugins": ["prettier-plugin-sh"],
  "overrides": [
    {
      "files": "**/*.md",
      "options": {
        "tabWidth": 4
      }
    },
    {
      "__comment__": "Workaround for: https://github.com/un-ts/prettier/issues/441#issuecomment-2820914126",
      "files": "**/Dockerfile",
      "options": {
        "parser": "sh"
      }
    }
  ]
}
