[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Other than `pipenv` that is used to configure individual projects, this Pipfile should not have any other packages defined.
# Individual projects should define their own packages/dependencies in repsective folders/Pipfiles.
pipenv = "==2023.12.0"
