[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Installed first, and used to install/run other dependencies:
pipenv = "==2024.0.1"

# Used for the published GitHub pages site:
mkdocs = "==1.5.3"
mkdocs-literate-nav = "==0.6.1"
mkdocs-material = "==9.5.18"
mkdocs-minify-plugin = "==0.8.0"
mkdocs-pymdownx-material-extras = "==2.5.6"

# Used by 'infra lint':
yamllint = "==1.35.1"
