#![allow(clippy::too_many_lines)] // large match statements for all non-terminals
#![allow(clippy::unnecessary_wraps)] // using `Result` for all functions for error handling

use std::rc::Rc;

use crate::rust_crate::cst::{Edge, EdgeLabel, Node, NonterminalKind, NonterminalNode};

//
// Sequences:
//

pub fn select_sequence(node: &Rc<NonterminalNode>) -> Result<Vec<Option<Node>>> {
    let mut helper = Helper::new(node);

    let result = match node.kind {
        {%- for sequence in model.ast.sequences -%}
            NonterminalKind::{{ sequence.parent_type }} => {
                helper.{{ sequence.parent_type | snake_case }}_sequence()?
            }
        {%- endfor -%}
        _ => {
            // Should not theoretically happen, since we're only called from our own generated AST types.
            return Err(format!("Unexpected parent node with NonterminalKind '{0}'.", node.kind));
        }
    };

    helper.finalize()?;
    Ok(result)
}

{% for sequence in model.ast.sequences %}
    impl Helper {
        fn {{ sequence.parent_type | snake_case }}_sequence(&mut self) -> Result<Vec<Option<Node>>> {
            Ok(vec![
                {%- for field in sequence.fields -%}
                    {%- if field.is_optional -%}
                        self.try_select(EdgeLabel::{{ field.label | pascal_case }}),
                    {%- else -%}
                        Some(self.select(EdgeLabel::{{ field.label | pascal_case  }})?),
                    {%- endif -%}
                {%- endfor -%}
            ])
        }
    }
{% endfor %}

//
// Choices:
//

pub fn select_choice(node: &Rc<NonterminalNode>) -> Result<Node> {
    let mut helper = Helper::new(node);

    let variant = helper.select(EdgeLabel::Variant)?;

    helper.finalize()?;
    Ok(variant)
}

//
// Repeated:
//

pub fn select_repeated(node: &Rc<NonterminalNode>) -> Result<Vec<Node>> {
    let mut helper = Helper::new(node);

    let mut items = vec![];

    while let Some(item) = helper.try_select(EdgeLabel::Item) {
        items.push(item);
    }

    helper.finalize()?;
    Ok(items)
}

//
// Separated:
//

pub fn select_separated(node: &Rc<NonterminalNode>) -> Result<Vec<Vec<Node>>> {
    let mut helper = Helper::new(node);

    let mut items = vec![];
    let mut separators = vec![];

    if let Some(first) = helper.try_select(EdgeLabel::Item) {
        items.push(first);

        while let Some(separator) = helper.try_select(EdgeLabel::Separator) {
            separators.push(separator);

            items.push(helper.select(EdgeLabel::Item)?);
        }
    }

    helper.finalize()?;
    Ok(vec![items, separators])
}

//
// Common:
//

type Result<T> = std::result::Result<T, String>;

struct Helper {
    node: Rc<NonterminalNode>,
    index: usize,
}

impl Helper {
    fn new(node: &Rc<NonterminalNode>) -> Self {
        Self {
            node: Rc::clone(node),
            index: 0,
        }
    }

    fn select(&mut self, target_label: EdgeLabel) -> Result<Node> {
        match self.try_select(target_label) {
            Some(node) => {
                Ok(node)
            },
            None => {
                Err(format!("Missing child with label '{target_label}'. Creating AST types from incorrect/incomplete CST nodes is not supported yet."))
            }
        }
    }

    fn try_select(&mut self, target_label: EdgeLabel) -> Option<Node> {
        let edge = self.current()?;

        if edge.label == target_label {
            self.index += 1;
            Some(edge.node)
        } else {
            None
        }
    }

    fn current(&mut self) -> Option<Edge> {
        loop {
            let edge = self.node.children.get(self.index)?;

            match edge.label {
                // Skip trivia:
                | EdgeLabel::LeadingTrivia | EdgeLabel::TrailingTrivia => {
                    self.index += 1;
                    continue;
                }
                // Otherwise, return the edge:
                _ => {
                    return Some(edge.clone());
                }
            }
        }
    }

    fn finalize(mut self) -> Result<()> {
        match self.current() {
            Some(edge) => {
                Err(format!("Unrecognized child with label '{label}'. Creating AST types from incorrect/incomplete CST nodes is not supported yet.", label = edge.label))
            }
            None => {
                Ok(())
            },
        }
    }
}
