// The `generate!()` macro below expands into the Rust bindings to be implemented by our wrappers.
// You can use 'cargo expand' to see its output, or run the CLI version directly of 'wit-bindgen' via:
//
// wit-bindgen rust "./generated" --pub-export-macro --out-dir "./target/wit/"

{% if rendering_in_stubs -%}
    wit_bindgen::generate!(in "src/runtime/wit/interface/generated");
{%- else -%}
    wit_bindgen::generate!(in "src/generated/wit/interface/generated");
{%- endif -%}
