package nomic-foundation:slang@{{ model.slang_version }};

world slang {
    export cst;
    export cursor;
    export diagnostic;
    export kinds;
    export language;
    export parse-error;
    export parse-output;
    export query;
    export text-index;
}
