interface kinds {
    enum nonterminal-kind {
        {%- if rendering_in_stubs %}
            stub1,
            stub2,
            stub3,
        {%- else %}
            {%- for variant in model.kinds.nonterminal_kinds %}
                {{ variant | wit_case }},
            {%- endfor %}
        {%- endif %}
    }

    enum edge-label {
        // Built-in:
        {%- for label in model.kinds.built_in_labels %}
            {{ label | wit_case }},
        {%- endfor %}

        // Generated:
        {%- if rendering_in_stubs %}
            stub1,
            stub2,
            stub3,
        {%- else %}
            {%- for variant in model.kinds.labels %}
                {{ variant | wit_case }},
            {%- endfor %}
        {%- endif %}
    }

    enum terminal-kind {
        // Built-in:
        skipped,

        // Generated:
        {%- if rendering_in_stubs %}
            stub1,
            stub2,
            stub3,
        {%- else %}
            {%- for variant in model.kinds.terminal_kinds %}
                {{ variant | wit_case }},
            {%- endfor %}
        {%- endif %}
    }
}
