interface parse-output {
    use cst.{cursor, node};
    use parse-error.{parse-error};

    resource parse-output {
        tree: func() -> node;
        errors: func() -> list<parse-error>;
        is-valid: func() -> bool;
        create-tree-cursor: func() -> cursor;
    }
}
