use crate::lexer::lexemes;
use slang_solidity_v2_ast::ast::nodes::*;
use crate::parser::nodes::*;
use bumpalo::Bump;
use bumpalo::collections::Vec;
use bumpalo::collections::CollectIn;

grammar<'arena, 'source>(arena: &'arena Bump, source: &'source str);

Sep<S, T>: Vec<'arena, T> = {
    => Vec::new_in(arena),
    SepOne<S, T> => <>,
};

SepOne<S, T>: Vec<'arena, T> = {
    <e:T> => {
        bumpalo::vec![in arena; e]
    },
    <mut v: SepOne<S, T>> S <e: T> => {
        v.push(e);
        v
    },
};

#[inline]
Rep<T>: Vec<'arena, T> = {
    => Vec::new_in(arena),
    RepOne<T> => <>,
};

RepOne<T>: Vec<'arena, T> = {
    <T> => {
        bumpalo::vec![in arena; <>]
    },
    <mut v: RepOne<T>> <e: T> => {
        v.push(e);
        v
    },
};

{% for section in model.parser.sections -%}

// Rules for section {{ section.title }}

{% for topic in section.topics -%}
    // Rules for topic {{ topic.title }}
    {% for item in topic.items -%}

    {% if item.inline %}#[inline]
    {% endif %}{% if item.name == model.parser.root_item -%} pub {% endif -%} {{ item.name }}: {{ item.producing_type }}<'arena> = {
        {% for option in item.options -%}
            {% for field in option.fields -%}   
                <{{ field.capturing_name }}: {{ field.rule }}> {{ " " }}
            {%- endfor %}=> {% if option.forward %}<>{% else -%}
            new_{{ item.producing_type | snake_case }}{% if option.name %}_{{ option.name | snake_case }}{% endif %}(arena, <>)
            {%- endif %},
        {% endfor %}
    };
    {% endfor %}

{% endfor %}


{% endfor %}

// Lexemes formatting
{% for kind in model.parser.lexer.lexeme_kinds -%}
{% if kind.1 != "Identifier" %}#[inline]{% endif %}
{{ kind.0 }}: {{ kind.1 }}<'arena> = {
    <l:@L> L_{{ kind.0 }} <r:@L> => new_{{kind.1 | snake_case}}(arena, <>, source),
    {%- if kind.1 == "Identifier" %}
// TODO: The identifier should also consider unreserved keywords
     {% for kw in model.parser.lexer.unreserved_keywords %} 
        <l:@L> L_{{ kw }} <r:@L> => new_identifier(arena, <>, source),
    {% endfor %}
// ODOT
    {% endif %}
}
{% endfor %}


extern {
    type Location = usize;
    // TODO error recovery
    type Error = ();

    enum lexemes::LexemeKind {
        {% for kind in model.parser.lexer.lexeme_kinds -%}
            L_{{ kind.0 }} => lexemes::LexemeKind::{{ kind.0 }},
        {% endfor %}
    }
}

{% raw %}
// Added rules

    StateVariableDefinition: StateVariableDefinition<'arena> = {
// TODO[1] This is an annoying hack, the problem is when we have a function type
// in a variable declaration type, then some attributes (visibility ones) can be both
// at the end of the type, or just after the type.
// Right now I'm trying some strange hack for counting used attributes, but I'm
// leaning towards having the function type take every attribute, and then reparse
// up here, and extract attributes that belong to the variable

            //<_type_name: TypeName>  /*<_attributes: StateVariableAttributes> Removing to test conflicts*/  <_name: Identifier>  <_value: (StateVariableDefinitionValue)?>  <_semicolon: Semicolon>  => format!("{{ \"item\": \"Struct\", \"name\": \"StateVariableDefinition\", \"_type_name\": {}, \"_attributes\": {}, \"_name\": {}, \"_value\": {}, \"_semicolon\": {} }}", _type_name, _attributes, _name, _value.unwrap_or("\"\"".into()), _semicolon),


         // If we're not using functions, then we can have all attributes
            <_type_name: TypeName1<"False", "True">>  <_attributes: StateVariableAttributes>  <_name: Identifier>  <_value: (StateVariableDefinitionValue)?>  <_semicolon: Semicolon>  => new_state_variable_definition(arena, <>),
            // Otherwise, the fun begins

            // If the there is a return, the visibility doesnt really matter, it's ignored. 
            // So we can either have or not have a vis
            <_type_name: FunctionTypeInternalReturn>  <_attributes: StateVariableAttributes>  <_name: Identifier>  <_value: (StateVariableDefinitionValue)?>  <_semicolon: Semicolon>  => new_state_variable_definition(arena, new_type_name_function_type(arena, _type_name), _attributes, _name, _value, _semicolon),

            // If there is no return, then we need to post process the attributes
            <_type_name: FunctionTypeInternalNoReturn> <special_attributes: SpecialStateVariableAttributes> <_name: Identifier>  <_value: (StateVariableDefinitionValue)?>  <_semicolon: Semicolon>  => {
                let (function_type, mut extra_attributes) = extract_extra_attributes(arena, _type_name);
                extra_attributes.extend(special_attributes);
                new_state_variable_definition(arena, new_type_name_function_type(arena, function_type), new_state_variable_attributes(arena, extra_attributes), _name, _value, _semicolon)
            },
        
    };

    // This needs to be inlined to disambiguate transient the attribute from
    // transient as an identifier
    #[inline]
    SpecialStateVariableAttributes: Vec<'arena, StateVariableAttribute<'arena>> = {
                <_StateVariableAttribute: Rep<SpecialStateVariableAttribute>>  => {
                    _StateVariableAttribute.into_iter().collect_in(arena)
                },
        
    };
    // Only these ones, since they're not shared with functions:
    //    OverrideSpecifier(OverrideSpecifier),
    //.   ImmutableKeyword(ImmutableKeyword),
    //.   TransientKeyword(TransientKeyword),

    #[inline]
    SpecialStateVariableAttribute: StateVariableAttribute<'arena> = {
         
            <_OverrideSpecifier: OverrideSpecifier>  => new_state_variable_attribute_override_specifier(arena, <>),
         
            <_ImmutableKeyword: ImmutableKeyword>  => new_state_variable_attribute_immutable_keyword(arena, <>),
         
            <_TransientKeyword: TransientKeyword>  => new_state_variable_attribute_transient_keyword(arena, <>),
    };


// ODOT

    
// TODO[1]: We're doing two things here:
// 2. Making it possible to disable `FunctionType` for the `TypeName`, this is used to
// avoid the clashing of attributes between `FunctionType` and `StateVariableAttribute`

    TypeName0<Func, IAP>: TypeName<'arena> = {
         
            <_FunctionType: FunctionType> if Func == "True" => new_type_name_function_type(arena, <>),
         
            <_MappingType: MappingType>  => new_type_name_mapping_type(arena, <>),
         
            // We disable ElementaryType and IdentifierPath for IndexAccessPath
            //<_ElementaryType: ElementaryType>  => new_type_name_elementary_type(arena, <>),
         
            //<_IdentifierPath: IdentifierPath>  => new_type_name_identifier_path(arena, <>),
            
            <_IndexAccessPath: IndexAccessPath<"True">> if IAP == "True" => new_type_name_index_access_path(arena, <>),

    };
    TypeName1<Func, IAP>: TypeName<'arena> = {
         
            <_TypeName: ArrayTypeName<Func>>  => new_type_name_array_type_name(arena, <>),
         
            <TypeName: TypeName0<Func, IAP>>  => <>,
        
    };
    TypeName: TypeName<'arena> = {
         
            <TypeName: TypeName1<"True", "True">>  => <>,
        
    };
    #[inline]
    ArrayTypeName<Func>: ArrayTypeName<'arena> = {
            // The base expression shouldn't end in a trailing IAP
            <_TypeName: TypeName1<Func, "False">>  <_open_bracket: OpenBracket>  <_index: (Expression)?>  <_close_bracket: CloseBracket>  => new_array_type_name(arena, <>),
    };
// ODOT

// TODO[1]: Again with the attributes, we need to differentiate between a `FunctionType` that ends
// with a `returns` and one that ends with attributes, because the one that ends with attributes
// has problems in VariableDeclarationStatement
    FunctionType: FunctionType<'arena> = {
        FunctionTypeInternalNoReturn => <>,
        FunctionTypeInternalReturn => <>,
    };

    // We dont inline this to break a cycle between type names
    FunctionTypeInternalNoReturn: FunctionType<'arena> = {
            <_function_keyword: FunctionKeyword>  <_parameters: ParametersDeclaration>  <_attributes: FunctionTypeAttributes>   => new_function_type(arena, _function_keyword, _parameters, _attributes, None),
    };
    FunctionTypeInternalReturn: FunctionType<'arena> = {
         
            <_function_keyword: FunctionKeyword>  <_parameters: ParametersDeclaration>  <_attributes: FunctionTypeAttributes>  <_returns: ReturnsDeclaration>  => new_function_type(arena, _function_keyword, _parameters, _attributes, Some(_returns)),
        
    };
// ODOT

// TODO[3]: We need to disable dangling If's on nested if else statements, but that can
// also happen with For and While statements, since they have a trailing statement
        // By default statements allos dangling `if`s
    Statement = _Statement<"True">;
         
        // A Statement that either allows (DI == "True") or disallows (DI == "False")
        // dangling `if`s
    _Statement<DI>: Statement<'arena> = {
         
            <_IfStatement: IfStatement<DI>>  => new_statement_if_statement(arena, <>),
         
            <_ForStatement: ForStatement<DI>>  => new_statement_for_statement(arena, <>),
         
            <_WhileStatement: WhileStatement<DI>>  => new_statement_while_statement(arena, <>),
         
            <_DoWhileStatement: DoWhileStatement>  => new_statement_do_while_statement(arena, <>),
         
            <_ContinueStatement: ContinueStatement>  => new_statement_continue_statement(arena, <>),
         
            <_BreakStatement: BreakStatement>  => new_statement_break_statement(arena, <>),
         
            <_ReturnStatement: ReturnStatement>  => new_statement_return_statement(arena, <>),
         
            <_EmitStatement: EmitStatement>  => new_statement_emit_statement(arena, <>),
         
            <_TryStatement: TryStatement>  => new_statement_try_statement(arena, <>),
         
            <_RevertStatement: RevertStatement>  => new_statement_revert_statement(arena, <>),
         
            <_AssemblyStatement: AssemblyStatement>  => new_statement_assembly_statement(arena, <>),
         
            <_Block: Block>  => new_statement_block(arena, <>),
         
            <_UncheckedBlock: UncheckedBlock>  => new_statement_unchecked_block(arena, <>),
         
            <_TupleDeconstructionStatement: TupleDeconstructionStatement>  => new_statement_tuple_deconstruction_statement(arena, <>),
         
            <_VariableDeclarationStatement: VariableDeclarationStatement>  => new_statement_variable_declaration_statement(arena, <>),
         
            <_ExpressionStatement: ExpressionStatement>  => new_statement_expression_statement(arena, <>),
        
    };
//ODOT

// TODO[4] We remove the TupleDeconstructionStatement sub NonTerminals from here, it's now a ProtoTuple
// shared with the tuples
    TupleDeconstructionStatement: TupleDeconstructionStatement<'arena> = {
            // Note: Sort of annoying, but a deconstruction statement like `(a, b) = c` is parsed as an assignment over a tuple
            <_tuple: ProtoTuple<"False">> <_equal: Equal>  <_expression: Expression>  <_semicolon: Semicolon>  => new_tuple_deconstruction_statement_from_proto_tuple(arena, <>),
        
    };

// ODOT

    TryStatement: TryStatement<'arena> = {
        <_try_keyword: TryKeyword>  <_expression: Expression>  <_returns: (ReturnsDeclaration)>  <_body: Block>  <_catch_clauses: CatchClauses>  => {
            new_try_statement(arena, _try_keyword, _expression, Some(_returns), _body, _catch_clauses)
        },
        <_try_keyword: TryKeyword>  <_expression: ExpressionDanglingBlock>   <_catch_clauses: CatchClauses>  => {
            let (expr, body) = _expression;
            new_try_statement(arena, _try_keyword, expr, None, body, _catch_clauses)
        },
        
    };



// TODO[3] IfStatement now tracks whether it has a dangling If, and only allows
// else branches if there's no dalgnling if
    IfStatement<DI>: IfStatement<'arena> = {
         
            // IfStatement only allows dangling `if`s (ie without an else) if DI == "True"
            <_if_keyword: IfKeyword>  <_open_paren: OpenParen>  <_condition: Expression>  <_close_paren: CloseParen>  <_body: _Statement<"True">> if DI == "True"  => new_if_statement(arena, <>, None),

            // If there is an `else` branch, then the `if` statemente cannot have dangling `if`s
            <_if_keyword: IfKeyword>  <_open_paren: OpenParen>  <_condition: Expression>  <_close_paren: CloseParen>  <_body: _Statement<"False">>  <_else_keyword: ElseKeyword>  <_else_branch: _Statement<DI>>  => new_if_statement(arena, _if_keyword, _open_paren, _condition, _close_paren, _body, Some(new_else_branch(arena, _else_keyword, _else_branch))),
        
    };
// ODOT

// TODO[3] ForStatement now tracks whether it has a dangling If, and only allows
    // TODO Maybe inline
    ForStatement<DI>: ForStatement<'arena> = {
         
            <_for_keyword: ForKeyword>  <_open_paren: OpenParen>  <_initialization: ForStatementInitialization>  <_condition: ForStatementCondition>  <_iterator: (Expression)?>  <_close_paren: CloseParen>  <_body: _Statement<DI>>  => new_for_statement(arena, <>),
        
    };
// ODOT

// TODO[3] WhileStatement now tracks whether it has a dangling If, and only allows
    WhileStatement<DI>: WhileStatement<'arena> = {
         
            <_while_keyword: WhileKeyword>  <_open_paren: OpenParen>  <_condition: Expression>  <_close_paren: CloseParen>  <_body: _Statement<DI>>  => new_while_statement(arena, <>),
        
    };
// ODOT


// An IAP that tracks whether it has a trailing identifier path
IndexAccessPath<TrailingIdent>: IndexAccessPath<'arena> = {
    <iap: IndexAccessPath<"True">> <_open_bracket: OpenBracket>  <_start: (Expression)?>  <_end: (IndexAccessEnd)?>  <_close_bracket: CloseBracket>  => index_access_path_add_index(arena, <>),
    <IndexAccessPath1<TrailingIdent>>  => <>,
};
IndexAccessPath1<TrailingIdent>: IndexAccessPath<'arena> = {
    <_Identifier: IdentifierPath> if TrailingIdent == "True" => new_index_access_path_from_identifier_path(arena, <>),
    <_ElementaryType: ElementaryType>  => new_index_access_path_from_elementary_type(arena, <>),
};

// TODO[5] Expressions are expanded, this gives us more control
// Ident is a variable to check whether this expression allows identifier paths or not
// The problem comes from a.b.c, this can be either an identifier path or a member access, we should
// always prefer identifier paths
//
// Note: To simplify my life right now, this is a bit different from what's generated, but we'll get there
    Expression0<TrailingIdent, TrailingIAP>: Expression<'arena> = {
            <_IndexAccessPath: IndexAccessPath<TrailingIdent>> if TrailingIAP == "True" => new_expression_index_access_path(arena, <>),
         
            <_NewExpression: NewExpression>  => new_expression_new_expression(arena, <>),
         
            <_TupleExpression: ProtoTuple<"True">>  => new_expression_tuple_expression(arena, new_tuple_expression_from_proto_tuple(arena, <>)),
         
            <_TypeExpression: TypeExpression>  => new_expression_type_expression(arena, <>),
         
            <_ArrayExpression: ArrayExpression>  => new_expression_array_expression(arena, <>),
         
            <_HexNumberExpression: HexNumberExpression>  => new_expression_hex_number_expression(arena, <>),
         
            <_DecimalNumberExpression: DecimalNumberExpression>  => new_expression_decimal_number_expression(arena, <>),
         
            <_StringExpression: StringExpression>  => new_expression_string_expression(arena, <>),
         
            // <_ElementaryType: ElementaryType>  => new_expression_elementary_type(arena, <>),
         
            <_PayableKeyword: PayableKeyword>  => new_expression_payable_keyword(arena, <>),
         
            <_ThisKeyword: ThisKeyword>  => new_expression_this_keyword(arena, <>),
         
            <_SuperKeyword: SuperKeyword>  => new_expression_super_keyword(arena, <>),
         
            <_TrueKeyword: TrueKeyword>  => new_expression_true_keyword(arena, <>),
         
            <_FalseKeyword: FalseKeyword>  => new_expression_false_keyword(arena, <>),
         
    };
    // We simplifiy all these levels of expressions into a single one, there's no need
    // for precedence here
    Expression1<TrailingIdent, TrailingIAP>: Expression<'arena> = {
         
            <_Expression: Expression1<"False", "False">>  <_open_bracket: OpenBracket>  <_start: (Expression)?>  <_end: (IndexAccessEnd)?>  <_close_bracket: CloseBracket>  => new_expression_index_access_expression(arena, new_index_access_expression(arena, <>)),
         
            <_Expression: Expression1<"False", "True">>  <_period: Period>  <_member: MemberAccessIdentifier>  => new_expression_member_access_expression(arena, new_member_access_expression(arena, <>)),
         
         // TODO[6]: enable, doesn't work nicely with try statements
        // in particular try foo {...} ()
        // In solidity parser they do two look ahead
        // https://github.com/argotorg/solidity/blob/0f6d9db4987d91c9ccaf991b6a1a6515655ed745/libsolidity/parsing/Parser.cpp#L2332-L2349
        // I'm still unsure how to solve this, so not worrying for now

            <_Expression: Expression1<"True", "True">>  <_open_brace: OpenBrace>  <_options: CallOptions>  <_close_brace: CloseBrace>  => new_expression_call_options_expression(arena, new_call_options_expression(arena, <>)),
         
            <_Expression: Expression1<"True", "True">>  <_arguments: ArgumentsDeclaration>  => new_expression_function_call_expression(arena, new_function_call_expression(arena, <>)),
         
            <Expression: Expression0<TrailingIdent, TrailingIAP>>  => <>,
        
    };
    Expression5<Ident>: Expression<'arena> = {
         
            <_Expression_PrefixExpression_Operator: Expression_PrefixExpression_Operator>  <_Expression: Expression5<Ident>>  => new_expression_prefix_expression(arena, new_prefix_expression(arena, <>)),
         
            <Expression: Expression1<"True", Ident>>  => <>,
        
    };
    Expression6<Ident>: Expression<'arena> = {
         
            <_Expression: Expression6<Ident>>  <_Expression_PostfixExpression_Operator: Expression_PostfixExpression_Operator>  => new_expression_postfix_expression(arena, new_postfix_expression(arena, <>)),
         
            <Expression: Expression5<Ident>>  => <>,
        
    };
    Expression7<Ident>: Expression<'arena> = {
         
            <_Expression: Expression6<"True">>  <_operator: Expression_ExponentiationExpression_Operator>  <_Expression_2: Expression7<Ident>>  => new_expression_exponentiation_expression(arena, new_exponentiation_expression(arena, <>)),
         
            <Expression: Expression6<Ident>>  => <>,
        
    };
    Expression8<Ident>: Expression<'arena> = {
         
            <_Expression: Expression8<"True">>  <_Expression_MultiplicativeExpression_Operator: Expression_MultiplicativeExpression_Operator>  <_Expression_2: Expression7<Ident>>  => new_expression_multiplicative_expression(arena, new_multiplicative_expression(arena, <>)),
         
            <Expression: Expression7<Ident>>  => <>,
        
    };
    Expression9<Ident>: Expression<'arena> = {
         
            <_Expression: Expression9<"True">>  <_Expression_AdditiveExpression_Operator: Expression_AdditiveExpression_Operator>  <_Expression_2: Expression8<Ident>>  => new_expression_additive_expression(arena, new_additive_expression(arena, <>)),
         
            <Expression: Expression8<Ident>>  => <>,
        
    };
    Expression10<Ident>: Expression<'arena> = {
         
            <_Expression: Expression10<"True">>  <_Expression_ShiftExpression_Operator: Expression_ShiftExpression_Operator>  <_Expression_2: Expression9<Ident>>  => new_expression_shift_expression(arena, new_shift_expression(arena, <>)),
         
            <Expression: Expression9<Ident>>  => <>,
        
    };
    Expression11<Ident>: Expression<'arena> = {
         
            <_Expression: Expression11<"True">>  <_operator: Ampersand>  <_Expression_2: Expression10<Ident>>  => new_expression_bitwise_and_expression(arena, new_bitwise_and_expression(arena, <>)),
         
            <Expression: Expression10<Ident>>  => <>,
        
    };
    Expression12<Ident>: Expression<'arena> = {
         
            <_Expression: Expression12<"True">>  <_operator: Caret>  <_Expression_2: Expression11<Ident>>  => new_expression_bitwise_xor_expression(arena, new_bitwise_xor_expression(arena, <>)),
         
            <Expression: Expression11<Ident>>  => <>,
        
    };
    Expression13<Ident>: Expression<'arena> = {
         
            <_Expression: Expression13<"True">>  <_operator: Bar>  <_Expression_2: Expression12<Ident>>  => new_expression_bitwise_or_expression(arena, new_bitwise_or_expression(arena, <>)),
         
            <Expression: Expression12<Ident>>  => <>,
        
    };
    Expression14<Ident>: Expression<'arena> = {
         
            <_Expression: Expression14<"True">>  <_Expression_InequalityExpression_Operator: Expression_InequalityExpression_Operator>  <_Expression_2: Expression13<Ident>>  => new_expression_inequality_expression(arena, new_inequality_expression(arena, <>)),
         
            <Expression: Expression13<Ident>>  => <>,
        
    };
    Expression15<Ident>: Expression<'arena> = {
         
            <_Expression: Expression15<"True">>  <_Expression_EqualityExpression_Operator: Expression_EqualityExpression_Operator>  <_Expression_2: Expression14<Ident>>  => new_expression_equality_expression(arena, new_equality_expression(arena, <>)),
         
            <Expression: Expression14<Ident>>  => <>,
        
    };
    Expression16<Ident>: Expression<'arena> = {
         
            <_Expression: Expression16<"True">>  <_operator: AmpersandAmpersand>  <_Expression_2: Expression15<Ident>>  => new_expression_and_expression(arena, new_and_expression(arena, <>)),
         
            <Expression: Expression15<Ident>>  => <>,
        
    };
    Expression17<Ident>: Expression<'arena> = {
         
            <_Expression: Expression17<"True">>  <_operator: BarBar>  <_Expression_2: Expression16<Ident>>  => new_expression_or_expression(arena, new_or_expression(arena, <>)),
         
            <Expression: Expression16<Ident>>  => <>,
        
    };
    Expression18<Ident>: Expression<'arena> = {
        // TODO: Not really sure the associativity is correct, we need to check
         
            <_Expression: Expression17<"True">>  <_question_mark: QuestionMark>  <_true_expression: Expression18<"True">>  <_colon: Colon>  <_false_expression: Expression18<Ident>>  => new_expression_conditional_expression(arena, new_conditional_expression(arena, <>)),
         
            <Expression: Expression17<Ident>>  => <>,
        
    };
    Expression19<Ident>: Expression<'arena> = {
         
            <_Expression: Expression19<"True">>  <_Expression_AssignmentExpression_Operator: Expression_AssignmentExpression_Operator>  <_Expression_2: Expression18<Ident>>  => new_expression_assignment_expression(arena, new_assignment_expression(arena, <>)),
         
            <Expression: Expression18<Ident>>  => <>,
        
    };

    // TODO(v2): We're making this pub to allow testing Expressions
    pub Expression: Expression<'arena> = {
         
            <Expression: Expression19<"True">>  => <>,
        
    };
// ODOT




// TODO[4] These are the new tuples, we get a prototuple that can be a pattern/declaration
// or a tuple value, we then disambigguate

    // A ProtoTuple can match both a TupleExpression (ie, a tuple with expressions inside, separated by commas)
    // as well as a TuplePattern, which is a tuple with optional patterns or declarations inside, separated by commas.
    // Every Tuple is a TuplePattern, not the other way around, so we also make that distinction with the generics.

    ProtoTuple<Tuple>: ProtoTuple<'arena> = {
        <_open_paren: OpenParen>  <_elements: ProtoTupleElements<Tuple>>  <_close_paren: CloseParen>  => new_proto_tuple(arena, _open_paren, _elements, _close_paren),
    }

    
    ProtoTupleElements<Tuple>: Vec<'arena, ProtoTupleElement<'arena>> = {
        // TODO: empty tuple

        // A single element can be True or False
        // Note that ProtoTupleElement<"False"> allows empty elements, we have to change that
        <_elem: ProtoTupleElement<"True">> if Tuple == "True" => bumpalo::vec![in arena; <>],
        <_elem: ProtoTupleElement<"False">> if Tuple == "False" => bumpalo::vec![in arena; <>],
        
        // A ProtoTuple only ProtoTupleElements<True> is a Tuple
        <mut _elems: ProtoTupleElements<"True">> Comma <_elem: ProtoTupleElement<"True">> if Tuple == "True" => {
            _elems.push(_elem);
            _elems
        },

        <mut _elems: ProtoTupleElements<"False">> Comma <_elem: ProtoTupleElement<"False">> if Tuple == "False" => {
            _elems.push(_elem);
            _elems
        },

        <mut _elems: ProtoTupleElements<"True">> Comma <_elem: ProtoTupleElement<"False">> if Tuple == "False" => {
            _elems.push(_elem);
            _elems
        },

        <mut _elems: ProtoTupleElements<"False">> Comma <_elem: ProtoTupleElement<"True">> if Tuple == "False" => {
            _elems.push(_elem);
            _elems
        },


    };

    ProtoTupleElement<Tuple>: ProtoTupleElement<'arena> = {
        // A Tuple expression must be present and only be an identifier
        <_name: Expression> if Tuple == "True" => new_proto_tuple_element_expression(arena, _name),

        <_decl: VariableDeclaration> if Tuple == "False" => new_proto_tuple_element_declaration(arena, _decl),
        <_storage_location: StorageLocation> <_name: Identifier> if Tuple == "False" => new_proto_tuple_element_storage_location(arena, _storage_location, _name),
        () if Tuple == "False" => new_proto_tuple_element_empty(arena),
    };
        
// ODOT

// TODO This is just because the function is not prepared for 0.8.30
// The grammar rule is correct, but the builder function expects an optional unit
// Yes, this is a silly hack for now
    HexNumberExpression: HexNumberExpression<'arena> = {
            <_literal: HexLiteral>  => new_hex_number_expression(arena, <>, None),
        
    };
// ODOT

    // We simplifiy all these levels of expressions into a single one, there's no need
    // for precedence here
    Expression1DB: (Expression<'arena>, Block<'arena>) = {
         
            <Expression: Expression1<"True", "True">> <b: Block>  => {
                (Expression, b)
            },
        
    };
    Expression5DB: (Expression<'arena>, Block<'arena>) = {
         
            <_Expression_PrefixExpression_Operator: Expression_PrefixExpression_Operator>  <_Expression: Expression5DB>  => {
                let (expr, block) = _Expression;
                (new_expression_prefix_expression(arena, new_prefix_expression(arena, _Expression_PrefixExpression_Operator, expr)), block)
            },
         
            <Expression: Expression1DB>  => <>,
        
    };
    Expression6DB: (Expression<'arena>, Block<'arena>) = {
         
            // Not sure what happens here, should I get a block?
            <_Expression: Expression6<"True">>  <_Expression_PostfixExpression_Operator: Expression_PostfixExpression_Operator> <b: Block>  => {
                (new_expression_postfix_expression(arena, new_postfix_expression(arena, _Expression, _Expression_PostfixExpression_Operator)), b)
            },
         
            <Expression: Expression5DB>  => <>,
        
    };
    Expression7DB: (Expression<'arena>, Block<'arena>) = {
         
            <_Expression: Expression6<"True">>  <_operator: Expression_ExponentiationExpression_Operator>  <_Expression_2: Expression7DB>  => {
                let (e, db) = _Expression_2;
                (new_expression_exponentiation_expression(arena, new_exponentiation_expression(arena, _Expression, _operator, e)), db)
            },
         
            <Expression: Expression6DB>  => <>,
        
    };
    Expression8DB: (Expression<'arena>, Block<'arena>) = {
         
            <_Expression: Expression8<"True">>  <_Expression_MultiplicativeExpression_Operator: Expression_MultiplicativeExpression_Operator>  <_Expression_2: Expression7DB>  =>  {
                let (e, db) = _Expression_2;
                (new_expression_multiplicative_expression(arena, new_multiplicative_expression(arena, _Expression, _Expression_MultiplicativeExpression_Operator, e)), db)
            },
         
            <Expression: Expression7DB>  => <>,
        
    };
    Expression9DB: (Expression<'arena>, Block<'arena>) = {
         
            <_Expression: Expression9<"True">>  <_Expression_AdditiveExpression_Operator: Expression_AdditiveExpression_Operator>  <_Expression_2: Expression8DB>  => {
                let (e, db) = _Expression_2;
                (new_expression_additive_expression(arena, new_additive_expression(arena, _Expression, _Expression_AdditiveExpression_Operator, e)), db)
            },
         
            <Expression: Expression8DB>  => <>,
        
    };
    Expression10DB: (Expression<'arena>, Block<'arena>) = {
         
            <_Expression: Expression10<"True">>  <_Expression_ShiftExpression_Operator: Expression_ShiftExpression_Operator>  <_Expression_2: Expression9DB>  => {
                let (e, db) = _Expression_2;
                (new_expression_shift_expression(arena, new_shift_expression(arena, _Expression, _Expression_ShiftExpression_Operator, e)), db)
            },
         
            <Expression: Expression9DB>  => <>,
        
    };
    Expression11DB: (Expression<'arena>, Block<'arena>) = {
         
            <_Expression: Expression11<"True">>  <_operator: Ampersand>  <_Expression_2: Expression10DB>  => {
                let (e, db) = _Expression_2;
                (new_expression_bitwise_and_expression(arena, new_bitwise_and_expression(arena, _Expression, _operator, e)), db)
            },
         
            <Expression: Expression10DB>  => <>,
        
    };
    Expression12DB: (Expression<'arena>, Block<'arena>) = {
         
            <_Expression: Expression12<"True">>  <_operator: Caret>  <_Expression_2: Expression11DB>  => {
                let (e, db) = _Expression_2;
                (new_expression_bitwise_xor_expression(arena, new_bitwise_xor_expression(arena, _Expression, _operator, e)), db)
            },
         
            <Expression: Expression11DB>  => <>,
        
    };
    Expression13DB: (Expression<'arena>, Block<'arena>) = {
         
            <_Expression: Expression13<"True">>  <_operator: Bar>  <_Expression_2: Expression12DB>  => {
                let (e, db) = _Expression_2;
                (new_expression_bitwise_or_expression(arena, new_bitwise_or_expression(arena, _Expression, _operator, e)), db)
            },
         
            <Expression: Expression12DB>  => <>,
        
    };
    Expression14DB: (Expression<'arena>, Block<'arena>) = {
         
            <_Expression: Expression14<"True">>  <_Expression_InequalityExpression_Operator: Expression_InequalityExpression_Operator>  <_Expression_2: Expression13DB>  => {
                let (e, db) = _Expression_2;
                (new_expression_inequality_expression(arena, new_inequality_expression(arena, _Expression, _Expression_InequalityExpression_Operator, e)), db)
            },
         
            <Expression: Expression13DB>  => <>,
        
    };
    Expression15DB: (Expression<'arena>, Block<'arena>) = {
         
            <_Expression: Expression15<"True">>  <_Expression_EqualityExpression_Operator: Expression_EqualityExpression_Operator>  <_Expression_2: Expression14DB>  => {
                let (e, db) = _Expression_2;
                (new_expression_equality_expression(arena, new_equality_expression(arena, _Expression, _Expression_EqualityExpression_Operator, e)), db)
            },  
         
            <Expression: Expression14DB>  => <>,
        
    };
    Expression16DB: (Expression<'arena>, Block<'arena>) = {
         
            <_Expression: Expression16<"True">>  <_operator: AmpersandAmpersand>  <_Expression_2: Expression15DB>  => {
                let (e, db) = _Expression_2;
                (new_expression_and_expression(arena, new_and_expression(arena, _Expression, _operator, e)), db)
            },  
         
            <Expression: Expression15DB>  => <>,
        
    };
    Expression17DB: (Expression<'arena>, Block<'arena>) = {
         
            <_Expression: Expression17<"True">>  <_operator: BarBar>  <_Expression_2: Expression16DB>  => {
                let (e, db) = _Expression_2;
                (new_expression_or_expression(arena, new_or_expression(arena, _Expression, _operator, e)), db)
            },
         
            <Expression: Expression16DB>  => <>,
        
    };
    
    Expression18DB: (Expression<'arena>, Block<'arena>) = {
        // TODO: Not really sure the associativity is correct, we need to check
         
            <_Expression: Expression17<"True">>  <_question_mark: QuestionMark>  <_true_expression: Expression18<"True">>  <_colon: Colon>  <_false_expression: Expression18DB>  => {
                let (e, db) = _false_expression;
                (new_expression_conditional_expression(arena, new_conditional_expression(arena, _Expression, _question_mark, _true_expression, _colon, e)), db)
            },  
         
            <Expression: Expression17DB>  => <>,
        
    };
    Expression19DB: (Expression<'arena>, Block<'arena>) = {
         
            <_Expression: Expression19<"True">>  <_Expression_AssignmentExpression_Operator: Expression_AssignmentExpression_Operator>  <_Expression_2: Expression18DB>  => {
                let (e, db) = _Expression_2;
                (new_expression_assignment_expression(arena, new_assignment_expression(arena, _Expression, _Expression_AssignmentExpression_Operator, e)), db)
            },
         
            <Expression: Expression18DB>  => <>,
        
    };

    // TODO(v2): We're making this pub to allow testing Expressions
    ExpressionDanglingBlock: (Expression<'arena>, Block<'arena>) = {
         
            <Expression: Expression19DB>  => <>,
        
    };



// Disabling for now

    ContractDefinition: ContractDefinition<'arena> = {
        <_abstract_keyword: (AbstractKeyword)?>  <_contract_keyword: ContractKeyword>  <_name: Identifier>  <_specifiers: ContractSpecifiers>  => {
            let (specifiers, _open_brace, _members, _close_brace) = _specifiers;
            new_contract_definition(arena, _abstract_keyword, _contract_keyword, _name, specifiers, _open_brace, _members, _close_brace)
        },
        <_abstract_keyword: (AbstractKeyword)?>  <_contract_keyword: ContractKeyword>  <_name: Identifier>  <_open_brace: OpenBrace>  <_members: ContractMembers>  <_close_brace: CloseBrace>  => {
            new_contract_definition(arena, _abstract_keyword, _contract_keyword, _name, new_contract_specifiers(arena, Vec::new_in(arena)), _open_brace, _members, _close_brace)
        },

    };
    ContractSpecifiers: (ContractSpecifiers<'arena>, OpenBrace<'arena>, ContractMembers<'arena>, CloseBrace<'arena>) = {
        <mut _ContractSpecifier: Rep<<ContractSpecifier>>> <_tail: ContractSpecifierDM>  => {
            let (specifier, open_brace, members, close_brace) = _tail;
            _ContractSpecifier.push(specifier);
            (new_contract_specifiers(arena, _ContractSpecifier), open_brace, members, close_brace)
        },
    };
    ContractSpecifierDM: (ContractSpecifier<'arena>, OpenBrace<'arena>, ContractMembers<'arena>, CloseBrace<'arena>) = {
        <_InheritanceSpecifier: InheritanceSpecifier> <_open_brace: OpenBrace>  <_members: ContractMembers>  <_close_brace: CloseBrace>  => {
            (new_contract_specifier_inheritance_specifier(arena, _InheritanceSpecifier), _open_brace, _members, _close_brace)
        },
        <_StorageLayoutSpecifier: StorageLayoutSpecifierDM>  => {
            let (storage_layout_specifier, open_brace, members, close_brace) = _StorageLayoutSpecifier;
            (new_contract_specifier_storage_layout_specifier(arena, storage_layout_specifier), open_brace, members, close_brace)
        },
    };

    StorageLayoutSpecifierDM: (StorageLayoutSpecifier<'arena>, OpenBrace<'arena>, ContractMembers<'arena>, CloseBrace<'arena>) = {
        <_layout_keyword: LayoutKeyword>  <_at_keyword: AtKeyword>  <_expression: ExpressionDM>  => {
            let (expr, open_brace, members, close_brace) = _expression;
            (new_storage_layout_specifier(arena, _layout_keyword, _at_keyword, expr), open_brace, members, close_brace)
        },
    };

    Expression1DM: (Expression<'arena>, (OpenBrace<'arena>, ContractMembers<'arena>, CloseBrace<'arena>)) = {
         
            <Expression: Expression1<"True", "True">> <_open_brace: OpenBrace>  <_members: ContractMembers>  <_close_brace: CloseBrace>  => {
                (Expression, (_open_brace, _members, _close_brace))
            },
        
    };
    Expression5DM: (Expression<'arena>, (OpenBrace<'arena>, ContractMembers<'arena>, CloseBrace<'arena>)) = {
         
            <_Expression_PrefixExpression_Operator: Expression_PrefixExpression_Operator>  <_Expression: Expression5DM>  => {
                let (expr, block) = _Expression;
                (new_expression_prefix_expression(arena, new_prefix_expression(arena, _Expression_PrefixExpression_Operator, expr)), block)
            },
         
            <Expression: Expression1DM>  => <>,
        
    };
    Expression6DM: (Expression<'arena>, (OpenBrace<'arena>, ContractMembers<'arena>, CloseBrace<'arena>)) = {
         
            // Not sure what happens here, should I get a block?
            <_Expression: Expression6<"True">>  <_Expression_PostfixExpression_Operator: Expression_PostfixExpression_Operator> <_open_brace: OpenBrace>  <_members: ContractMembers>  <_close_brace: CloseBrace>  => {
                (new_expression_postfix_expression(arena, new_postfix_expression(arena, _Expression, _Expression_PostfixExpression_Operator)), (_open_brace, _members, _close_brace))
            },
         
            <Expression: Expression5DM>  => <>,
        
    };
    Expression7DM: (Expression<'arena>, (OpenBrace<'arena>, ContractMembers<'arena>, CloseBrace<'arena>)) = {
         
            <_Expression: Expression6<"True">>  <_operator: Expression_ExponentiationExpression_Operator>  <_Expression_2: Expression7DM>  => {
                let (e, dM) = _Expression_2;
                (new_expression_exponentiation_expression(arena, new_exponentiation_expression(arena, _Expression, _operator, e)), dM)
            },
         
            <Expression: Expression6DM>  => <>,
        
    };
    Expression8DM: (Expression<'arena>, (OpenBrace<'arena>, ContractMembers<'arena>, CloseBrace<'arena>)) = {
         
            <_Expression: Expression8<"True">>  <_Expression_MultiplicativeExpression_Operator: Expression_MultiplicativeExpression_Operator>  <_Expression_2: Expression7DM>  =>  {
                let (e, dM) = _Expression_2;
                (new_expression_multiplicative_expression(arena, new_multiplicative_expression(arena, _Expression, _Expression_MultiplicativeExpression_Operator, e)), dM)
            },
         
            <Expression: Expression7DM>  => <>,
        
    };
    Expression9DM: (Expression<'arena>, (OpenBrace<'arena>, ContractMembers<'arena>, CloseBrace<'arena>)) = {
         
            <_Expression: Expression9<"True">>  <_Expression_AdditiveExpression_Operator: Expression_AdditiveExpression_Operator>  <_Expression_2: Expression8DM>  => {
                let (e, dM) = _Expression_2;
                (new_expression_additive_expression(arena, new_additive_expression(arena, _Expression, _Expression_AdditiveExpression_Operator, e)), dM)
            },
         
            <Expression: Expression8DM>  => <>,
        
    };
    Expression10DM: (Expression<'arena>, (OpenBrace<'arena>, ContractMembers<'arena>, CloseBrace<'arena>)) = {
         
            <_Expression: Expression10<"True">>  <_Expression_ShiftExpression_Operator: Expression_ShiftExpression_Operator>  <_Expression_2: Expression9DM>  => {
                let (e, dM) = _Expression_2;
                (new_expression_shift_expression(arena, new_shift_expression(arena, _Expression, _Expression_ShiftExpression_Operator, e)), dM)
            },
         
            <Expression: Expression9DM>  => <>,
        
    };
    Expression11DM: (Expression<'arena>, (OpenBrace<'arena>, ContractMembers<'arena>, CloseBrace<'arena>)) = {
         
            <_Expression: Expression11<"True">>  <_operator: Ampersand>  <_Expression_2: Expression10DM>  => {
                let (e, dM) = _Expression_2;
                (new_expression_bitwise_and_expression(arena, new_bitwise_and_expression(arena, _Expression, _operator, e)), dM)
            },
         
            <Expression: Expression10DM>  => <>,
        
    };
    Expression12DM: (Expression<'arena>, (OpenBrace<'arena>, ContractMembers<'arena>, CloseBrace<'arena>)) = {
         
            <_Expression: Expression12<"True">>  <_operator: Caret>  <_Expression_2: Expression11DM>  => {
                let (e, dM) = _Expression_2;
                (new_expression_bitwise_xor_expression(arena, new_bitwise_xor_expression(arena, _Expression, _operator, e)), dM)
            },
         
            <Expression: Expression11DM>  => <>,
        
    };
    Expression13DM: (Expression<'arena>, (OpenBrace<'arena>, ContractMembers<'arena>, CloseBrace<'arena>)) = {
         
            <_Expression: Expression13<"True">>  <_operator: Bar>  <_Expression_2: Expression12DM>  => {
                let (e, dM) = _Expression_2;
                (new_expression_bitwise_or_expression(arena, new_bitwise_or_expression(arena, _Expression, _operator, e)), dM)
            },
         
            <Expression: Expression12DM>  => <>,
        
    };
    Expression14DM: (Expression<'arena>, (OpenBrace<'arena>, ContractMembers<'arena>, CloseBrace<'arena>)) = {
         
            <_Expression: Expression14<"True">>  <_Expression_InequalityExpression_Operator: Expression_InequalityExpression_Operator>  <_Expression_2: Expression13DM>  => {
                let (e, dM) = _Expression_2;
                (new_expression_inequality_expression(arena, new_inequality_expression(arena, _Expression, _Expression_InequalityExpression_Operator, e)), dM)
            },
         
            <Expression: Expression13DM>  => <>,
        
    };
    Expression15DM: (Expression<'arena>, (OpenBrace<'arena>, ContractMembers<'arena>, CloseBrace<'arena>)) = {
         
            <_Expression: Expression15<"True">>  <_Expression_EqualityExpression_Operator: Expression_EqualityExpression_Operator>  <_Expression_2: Expression14DM>  => {
                let (e, dM) = _Expression_2;
                (new_expression_equality_expression(arena, new_equality_expression(arena, _Expression, _Expression_EqualityExpression_Operator, e)), dM)
            },  
         
            <Expression: Expression14DM>  => <>,
        
    };
    Expression16DM: (Expression<'arena>, (OpenBrace<'arena>, ContractMembers<'arena>, CloseBrace<'arena>)) = {
         
            <_Expression: Expression16<"True">>  <_operator: AmpersandAmpersand>  <_Expression_2: Expression15DM>  => {
                let (e, dM) = _Expression_2;
                (new_expression_and_expression(arena, new_and_expression(arena, _Expression, _operator, e)), dM)
            },  
         
            <Expression: Expression15DM>  => <>,
        
    };
    Expression17DM: (Expression<'arena>, (OpenBrace<'arena>, ContractMembers<'arena>, CloseBrace<'arena>)) = {
         
            <_Expression: Expression17<"True">>  <_operator: BarBar>  <_Expression_2: Expression16DM>  => {
                let (e, dM) = _Expression_2;
                (new_expression_or_expression(arena, new_or_expression(arena, _Expression, _operator, e)), dM)
            },
         
            <Expression: Expression16DM>  => <>,
        
    };
    
    Expression18DM: (Expression<'arena>, (OpenBrace<'arena>, ContractMembers<'arena>, CloseBrace<'arena>)) = {
        // TODO: Not really sure the associativity is correct, we need to check
         
            <_Expression: Expression17<"True">>  <_question_mark: QuestionMark>  <_true_expression: Expression18<"True">>  <_colon: Colon>  <_false_expression: Expression18DM>  => {
                let (e, dM) = _false_expression;
                (new_expression_conditional_expression(arena, new_conditional_expression(arena, _Expression, _question_mark, _true_expression, _colon, e)), dM)
            },  
         
            <Expression: Expression17DM>  => <>,
        
    };
    Expression19DM: (Expression<'arena>, (OpenBrace<'arena>, ContractMembers<'arena>, CloseBrace<'arena>)) = {
         
            <_Expression: Expression19<"True">>  <_Expression_AssignmentExpression_Operator: Expression_AssignmentExpression_Operator>  <_Expression_2: Expression18DM>  => {
                let (e, dM) = _Expression_2;
                (new_expression_assignment_expression(arena, new_assignment_expression(arena, _Expression, _Expression_AssignmentExpression_Operator, e)), dM)
            },
         
            <Expression: Expression18DM>  => <>,
        
    };

    ExpressionDM: (Expression<'arena>, OpenBrace<'arena>, ContractMembers<'arena>, CloseBrace<'arena>) = {
         
            <Expression: Expression19DM>  => {
                let (expr, (open_brace, members, close_brace)) = Expression;
                (expr, open_brace, members, close_brace)
            },
        
    };



{% endraw %}
