{%- set builder = model.ir_language_model.builder -%}
{%- set target = model.ir_language_model.target -%}
// Builder from StructuredCstModel
#![allow(clippy::too_many_lines)]
#![allow(unused_variables)]

use std::rc::Rc;
use crate::ir::interner::Symbol;
use crate::ir::nodes as output;
use slang_solidity_v2_cst::structured_cst::nodes as input;

pub trait Builder {
  fn intern_identifier(&mut self, range: std::ops::Range<usize>) -> Symbol;

  //
  // Sequences
  //
  {% for parent_type, sequence in builder.sequences %}
    fn build_{{ parent_type | snake_case }}(&mut self, source: &input::{{ parent_type }}) -> output::{{ parent_type }}
    {% if not sequence.has_added_fields %}
      {
        {% for field in sequence.fields %}
          {%- if not field.is_removed -%}
            let {{ field.label | snake_case }} =
            {%- if field.is_optional -%}
              {%- if field.type.kind == "UniqueTerminal" -%}
                source.{{ field.label }}.is_some();
              {%- else -%}
                source.{{ field.label }}.as_ref().map(
                  |value| self.build_{{ field.type.name | snake_case }}(value)
                );
              {%- endif -%}
            {%- else -%}
              {# Non-optional unique terminals should be elided at this point #}
              self.build_{{ field.type.name | snake_case }}(&source.{{ field.label | snake_case }});
            {%- endif -%}
          {%- endif -%}
        {%- endfor %}

        Rc::new(output::{{ parent_type }}Struct {
          {%- for field in sequence.fields -%}
            {%- if not field.is_removed -%}
              {{ field.label | snake_case }},
            {%- endif -%}
          {%- endfor %}
        })
      }
    {% else %}
      ;
    {% endif %}
  {% endfor %}

  //
  // Collapsed sequences
  //
  {% for parent_type, collapsed in builder.collapsed_sequences %}
    fn build_{{ parent_type | snake_case }}(&mut self, source: &input::{{ parent_type }}) -> output::{{ collapsed.target_type.name }}
    {
      self.build_{{ collapsed.type.name | snake_case }}(&source.{{ collapsed.label }})
    }
  {% endfor %}

  //
  // Choices
  //
  {% for parent_type, choice in builder.choices %}
    {% if not choice.is_new -%}
      {% if choice.has_removed_variants -%}
        #[allow(dead_code)]
      {%- endif %}
      fn default_build_{{ parent_type | snake_case }}(&mut self, source: &input::{{ parent_type }}) -> output::{{ parent_type }} {
        #[allow(clippy::match_wildcard_for_single_variants)]
        #[allow(clippy::match_single_binding)]
        match source {
          {% for variant in choice.variants -%}
            {% if not variant.is_new -%}
              {%- if variant.source.is_unique -%}
                input::{{ parent_type }}::{{ variant.source.name }}(_) => {
                  output::{{ parent_type }}::{{ variant.target.name }}
                }
              {% else -%}
                input::{{ parent_type }}::{{ variant.source.name }}(ref {{ variant.source.name | snake_case }}) => {
                  output::{{ parent_type }}::{{ variant.target.name }}(self.build_{{ variant.source.name | snake_case }}({{ variant.source.name | snake_case }}))
                }
              {% endif -%}
            {%- endif -%}
          {%- endfor -%}
          {%- if choice.has_removed_variants -%}
            _ => panic!("Unexpected variant {source:?}"),
          {% endif -%}
        }
      }
      fn build_{{ parent_type | snake_case }}(&mut self, source: &input::{{ parent_type }}) -> output::{{ parent_type }}
      {%- if choice.has_removed_variants -%}
        ;
      {%- else -%}
        {
          self.default_build_{{ parent_type | snake_case }}(source)
        }
      {%- endif %}
    {%- endif %}
  {% endfor %}

  //
  // Collapsed choices
  //
  {% for parent_type, collapsed in builder.collapsed_choices %}
    fn build_{{ parent_type | snake_case }}(&mut self, source: &input::{{ parent_type }}) -> output::{{ collapsed.target.name }} {
      match source {
        {% for variant in collapsed.variants -%}
          input::{{ parent_type }}::{{ variant.source.name }}(terminal) => {
            {% if collapsed.target_is_identifier -%}
              let symbol = self.intern_identifier(terminal.range.clone());
              Rc::new(output::{{ collapsed.target.name }}Struct {
                range: terminal.range.clone(),
                symbol,
              })
            {%- else -%}
              output::{{ collapsed.target.name }} {
                range: terminal.range.clone(),
              }
            {%- endif %}
          }
        {% endfor -%}
      }
    }
  {% endfor %}

  //
  // Repeated & Separated
  //

  {% for parent_type, collection in builder.collections %}
    {% if not collection.is_new -%}
      fn build_{{ parent_type | snake_case }}(&mut self, source: &input::{{ parent_type }}) -> output::{{ parent_type }} {
        source.elements.iter().map(|item|
          self.build_{{ collection.item_type.name | snake_case }}(item)
        ).collect()
      }
    {%- endif %}
  {% endfor %}

  //
  // Terminals
  //

  {% for terminal_type, terminal in builder.terminals %}
    {# Unique terminals don't need cloning because they are not present in the IR, #}
    {# and new terminals cannot be automatically built #}
    {% if not terminal.is_new and not terminal.is_unique %}
      fn build_{{ terminal_type | snake_case }}(&mut self, source: &input::{{ terminal_type }}) -> output::{{ terminal_type }} {
        {% if terminal.is_identifier %}
          let symbol = self.intern_identifier(source.range.clone());
          Rc::new(output::{{ terminal_type }}Struct {
            range: source.range.clone(),
            symbol,
          })
        {% else %}
          output::{{ terminal_type }} {
            range: source.range.clone(),
          }
        {% endif %}
      }
    {% endif %}
  {% endfor %}

  //
  // Normalized Terminals
  //
  {% for source_type, normalized in builder.normalized_terminals %}
    {% if not normalized.is_unique %}
      fn build_{{ source_type | snake_case }}(&mut self, source: &input::{{ source_type }}) -> output::{{ normalized.target }} {
        {% if normalized.target_is_identifier %}
          let symbol = self.intern_identifier(source.range.clone());
          Rc::new(output::{{ normalized.target }}Struct {
            range: source.range.clone(),
            symbol,
          })
        {% else %}
          output::{{ normalized.target }} {
            range: source.range.clone(),
          }
        {% endif %}
      }
    {% endif %}
  {% endfor %}
}
