use std::ops::Range;

use strum_macros::IntoStaticStr;

#[derive(Debug)]
pub struct Lexeme {
    pub kind: LexemeKind,
    pub range: Range<usize>,
}

#[derive(Clone, Debug, IntoStaticStr, PartialEq)]
#[allow(clippy::upper_case_acronyms, non_camel_case_types)]
pub enum LexemeKind {
    UNRECOGNIZED,

    {% for parent_type, unique in model.ir_model.terminals -%}
        {{ parent_type }},
    {% endfor %}
}
