{% macro render_nodes(language) -%}
  {%- set target = model.ir_languages[language].target -%}
  use std::rc::Rc;
  use std::vec::Vec;
  use crate::cst::SyntaxNode;
  use metaslang_cst::nodes::NodeId;

  //
  // Sequences:
  //

  {% for parent_type, sequence in target.sequences %}
    pub type {{ parent_type }} = Rc<{{ parent_type }}Struct>;

    #[derive(Debug, PartialEq)]
    pub struct {{ parent_type }}Struct {
      pub node: Rc<SyntaxNode>,
      {%- for field in sequence.fields %}
        pub {{ field.label | snake_case }}:
        {%- if field.type.kind == "Terminal" -%}
          {%- if field.is_optional -%}
            Option<Rc<SyntaxNode>>,
          {%- else -%}
            Rc<SyntaxNode>,
          {%- endif -%}
        {%- elif field.type.kind == "UniqueTerminal" -%}
          {%- if field.is_optional -%}
            bool,
          {%- else -%}
            Rc<SyntaxNode>,
          {%- endif -%}
        {%- else -%}
          {%- if field.is_optional -%}
            Option<{{ field.type.name }}>,
          {%- else -%}
            {{ field.type.name }},
          {%- endif -%}
        {%- endif -%}
      {% endfor -%}
    }

    impl {{ parent_type }}Struct {
      pub fn id(&self) -> NodeId {
        self.node.id()
      }
    }

  {% endfor %}

  //
  // Choices:
  //

  {% for parent_type, choice in target.choices %}
    #[derive(Debug, PartialEq)]
    pub enum {{ parent_type }} {
      {% for nonterminal in choice.variants | filter(attribute="kind", value="Nonterminal") -%}
        {{ nonterminal.name }}({{ nonterminal.name }}),
      {%- endfor -%}
      {% for terminal in choice.variants | filter(attribute="kind", value="Terminal") -%}
        {{ terminal.name }}(Rc<SyntaxNode>),
      {%- endfor -%}
      {% for terminal in choice.variants | filter(attribute="kind", value="UniqueTerminal") -%}
        {{ terminal.name }},
      {%- endfor -%}
    }
  {% endfor %}

  //
  // Repeated & Separated
  //

  {% for parent_type, collection in target.collections %}
    pub type {{ parent_type }} = Vec<
      {%- if collection.item_type.is_terminal -%}
        Rc<SyntaxNode>
      {%- else -%}
        {{ collection.item_type.name }}
      {%- endif -%}
    >;
  {% endfor %}

{% endmacro render_nodes %}
