{%- import "crates/solidity-v2/outputs/cargo/common/src/versions/_macros.rs.jinja2" as _versions -%}

{%- set model = model.structured_cst_model -%}

#![allow(clippy::needless_return)]
#![allow(clippy::wildcard_imports)]

use slang_solidity_v2_common::diagnostics::kinds::syntax::IncompatibleSyntaxVersion;
use slang_solidity_v2_common::diagnostics::DiagnosticCollection;
use slang_solidity_v2_common::files::FileId;
use slang_solidity_v2_common::versions::{LanguageVersion, LanguageVersionSpecifier};
use slang_solidity_v2_cst::structured_cst::nodes::*;
use slang_solidity_v2_cst::structured_cst::TextRange;

/// Validate that all nodes in the given `SourceUnit` are valid for the given language version.
pub fn validate_syntax_version(
    root: &SourceUnit,
    version: LanguageVersion,
    file_id: &FileId,
    diagnostics: &mut DiagnosticCollection,
) {
    let mut validator = SyntaxVersionValidator { version, file_id, diagnostics };
    validator.check_source_unit(root);
}

struct SyntaxVersionValidator<'a> {
    version: LanguageVersion,
    file_id: &'a FileId,
    diagnostics: &'a mut DiagnosticCollection,
}

impl SyntaxVersionValidator<'_> {
    fn check(&mut self, node: &impl TextRange, compatible_in: LanguageVersionSpecifier) -> bool {
        if compatible_in.contains(self.version) {
            return true;
        }

        self.diagnostics.push(
            self.file_id.to_owned(),
            node.calculate_text_range().expect("Structured CST node should have a range"),
            IncompatibleSyntaxVersion { compatible_in },
        );

        false
    }

    //
    // Sequence validators
    //
    {% for parent_type, sequence in model.sequences %}
        {%- if model.has_versioned_descendant[parent_type] %}
            fn check_{{ parent_type | snake_case }}(&mut self, node: &{{ parent_type }}) {
                {# Check struct-level enabled #}
                {%- if sequence.enabled.type == "Always" %}
                    {# No version constraint on the node itself. #}
                {%- else %}
                    if !self.check(node, {{ _versions::specifier(s=sequence.enabled) }}) {
                        return;
                    }
                {%- endif %}

                {# Check and recurse into each field #}
                {%- for field in sequence.fields %}
                    {%- set recurse = not field.field_type.is_terminal and model.has_versioned_descendant[field.field_type.name] %}
                    {%- if field.is_optional %}
                        {%- if field.enabled.type == "Always" %}
                            {%- if recurse %}
                                if let Some(ref child) = node.{{ field.label | snake_case }} {
                                    self.check_{{ field.field_type.name | snake_case }}(child);
                                }
                            {%- endif %}
                        {%- else %}
                            {%- if recurse %}
                                if let Some(ref child) = node.{{ field.label | snake_case }}
                                    && self.check(child, {{ _versions::specifier(s=field.enabled) }})
                                {
                                    self.check_{{ field.field_type.name | snake_case }}(child);
                                }
                            {%- else %}
                                if let Some(ref child) = node.{{ field.label | snake_case }} {
                                    self.check(child, {{ _versions::specifier(s=field.enabled) }});
                                }
                            {%- endif %}
                        {%- endif %}
                    {%- else %}
                        {# Required field — always present, just recurse if child has versioned descendants #}
                        {%- if recurse %}
                            self.check_{{ field.field_type.name | snake_case }}(&node.{{ field.label | snake_case }});
                        {%- endif %}
                    {%- endif %}
                {%- endfor %}
            }
        {%- endif %}
    {% endfor %}

    //
    // Choice validators
    //
    {% for parent_type, choice in model.choices %}
        {%- if model.has_versioned_descendant[parent_type] %}
            fn check_{{ parent_type | snake_case }}(&mut self, node: &{{ parent_type }}) {
                {# Check choice-level enabled #}
                {%- if choice.enabled.type == "Always" %}
                    {# No version constraint on the node itself. #}
                {%- else %}
                    if !self.check(node, {{ _versions::specifier(s=choice.enabled) }}) {
                        return;
                    }
                {%- endif %}

                match node {
                    {%- for variant in choice.variants %}
                        {%- set variant_recurse = not variant.variant_type.is_terminal and model.has_versioned_descendant[variant.variant_type.name] %}
                        {%- set variant_needs_check = variant.enabled.type != "Always" or variant_recurse -%}

                        {{ parent_type }}::{{ variant.variant_type.name }}(
                            {% if variant_needs_check %}child{% else %}_{% endif %}) => {
                            {%- if variant.enabled.type == "Always" %}
                                {# No version constraint on the variant itself. #}
                            {%- else %}
                                if !self.check(child, {{ _versions::specifier(s=variant.enabled) }}) {
                                    return;
                                }
                            {%- endif %}

                            {%- if variant_recurse %}
                                self.check_{{ variant.variant_type.name | snake_case }}(child);
                            {%- endif %}
                        }
                    {%- endfor %}
                }
            }
        {%- endif %}
    {% endfor %}

    //
    // Collection validators
    //
    {% for parent_type, collection in model.collections %}
        {%- if model.has_versioned_descendant[parent_type] %}
            fn check_{{ parent_type | snake_case }}(&mut self, node: &{{ parent_type }}) {
                {# Check collection-level enabled #}
                {%- if collection.enabled.type == "Always" %}
                    {# No version constraint on the node itself. #}
                {%- else %}
                    if !self.check(node, {{ _versions::specifier(s=collection.enabled) }}) {
                        return;
                    }
                {%- endif %}

                {%- if model.has_versioned_descendant[collection.item_type.name] %}
                    for child in &node.elements {
                        self.check_{{ collection.item_type.name | snake_case }}(child);
                    }
                {%- endif %}
            }
        {%- endif %}
    {% endfor %}
}
