use logos::{FilterResult, Lexer, Logos};
use slang_solidity_v2_common::versions::LanguageVersion;

use crate::lexer::lexemes::{Lexeme, LexemeKind};

#[derive(Clone)]
pub struct ContextExtras {
    // Since we restricted Slang v2 lexer to only support Solidity 0.8.0+, all the remaining keywords
    // are either `Always` or `Never` versioned in the remaining versions, so we don't need this
    // information today. However, that might always change with new version releases.
    // So, let's keep it for now, even if we don't generate code that uses it yet.
    #[allow(dead_code)]
    pub language_version: LanguageVersion,
}

#[derive(Clone)]
pub enum ContextWrapper<'source> {
    {%- for context in model.parser.lexer.contexts %}
        {{ context.name }}(Lexer<'source, {{ context.name }}Context>),
    {%- endfor -%}
}

impl<'source> ContextWrapper<'source> {
    pub fn new(source: &'source str, extras: ContextExtras) -> Self {
        Self::Solidity(SolidityContext::lexer_with_extras(source, extras))
    }

    {% for new_context in model.parser.lexer.contexts %}
    #[must_use]
    pub fn morph_to_{{ new_context.name | lower }}(self) -> Self {
        match self {
            {%- for old_context in model.parser.lexer.contexts %}
                Self::{{ old_context.name }}(lexer) => {
                    {%- if old_context.name == new_context.name -%}
                        Self::{{ new_context.name }}(lexer)
                    {%- else -%}
                        Self::{{ new_context.name }}(lexer.morph())
                    {%- endif -%}
                },
            {%- endfor -%}
        }
    }
    {%- endfor %}

    pub fn next_lexeme(&mut self) -> Option<Lexeme> {
        let (kind, range) = match self {
            {%- for context in model.parser.lexer.contexts %}
                Self::{{ context.name }}(lexer) => match lexer.next() {
                    Some(Ok({{ context.name }}Context::Lexeme(kind))) => (kind, lexer.span()),
                    Some(Err(())) => (LexemeKind::UNRECOGNIZED, lexer.span()),
                    None => return None,
                },
            {%- endfor -%}
        };

        Some(Lexeme { kind, range } )
    }
}

{% for context in model.parser.lexer.contexts %}
    {%- for callback in context.callbacks %}

    #[allow(non_snake_case)]
    fn {{ callback.name }}(
        lex: &mut Lexer<'_, {{ context.name }}Context>,
    ) -> FilterResult<LexemeKind, ()> {
        static PATTERN: std::sync::LazyLock<regex::Regex> =
            std::sync::LazyLock::new(|| {
                regex::Regex::new(r#"^({{ callback.pattern }})"#).expect("valid not_followed_by pattern")
            });
        if PATTERN.is_match(lex.remainder()) {
            FilterResult::Error(())
        } else {
            FilterResult::Emit(LexemeKind::{{ callback.kind }})
        }
    }
    {%- endfor %}

    #[derive(Clone, Debug, Logos)]
    #[logos(extras = ContextExtras)]
    {%- for name, regex in context.subpatterns %}
        #[logos(subpattern {{ name }} = r#"{{ regex }}"#)]
    {%- endfor -%}
    pub enum {{ context.name }}Context {
        {% for lexeme in context.lexemes -%}
            {%- if lexeme.type == "Trivia" -%}
                {# use 'allow_greedy' on trivia: https://github.com/maciejhirsz/logos/issues/520 #}
                #[regex(r#"{{ lexeme.regex }}"#, |_| { LexemeKind::{{ lexeme.kind }} }, priority = {{ 1000000 + loop.index }}, allow_greedy = true)]
            {%- elif lexeme.type == "Token" -%}
                {%- if lexeme.not_followed_by -%}
                #[regex(r#"{{ lexeme.regex }}"#, not_followed_by__{{ lexeme.kind }}, priority = {{ 2000000 + loop.index }})]
                {%- else -%}
                #[regex(r#"{{ lexeme.regex }}"#, |_| { LexemeKind::{{ lexeme.kind }} }, priority = {{ 2000000 + loop.index }})]
                {%- endif -%}
            {%- elif lexeme.type == "Keyword" -%}
                #[regex(r#"{{ lexeme.regex }}"#,
                    {{- " " -}}
                    {%- if lexeme.reserved.type == "Always" -%}
                        |_| { LexemeKind::{{ lexeme.kind }}_Reserved }
                    {%- elif lexeme.reserved.type == "Never" -%}
                        |_| { LexemeKind::{{ lexeme.kind }}_Unreserved }
                    {%- elif lexeme.reserved.type == "From" -%}
                        |lexer| { if LanguageVersion::V{{ lexeme.reserved.from | split(pat=".") | join(sep="_") }} <= lexer.extras.language_version { LexemeKind::{{ lexeme.kind }}_Reserved } else { LexemeKind::{{ lexeme.kind }}_Unreserved } }
                    {%- elif lexeme.reserved.type == "Till" -%}
                        |lexer| { if lexer.extras.language_version < LanguageVersion::V{{ lexeme.reserved.till | split(pat=".") | join(sep="_") }} { LexemeKind::{{ lexeme.kind }}_Reserved } else { LexemeKind::{{ lexeme.kind }}_Unreserved } }
                    {%- elif lexeme.reserved.type == "Range" -%}
                        |lexer| { if LanguageVersion::V{{ lexeme.reserved.from | split(pat=".") | join(sep="_") }} <= lexer.extras.language_version && lexer.extras.language_version < LanguageVersion::V{{ lexeme.reserved.till | split(pat=".") | join(sep="_") }} { LexemeKind::{{ lexeme.kind }}_Reserved } else { LexemeKind::{{ lexeme.kind }}_Unreserved } }
                    {%- else -%}
                        {{ throw(message = "Unrecognized lexeme.reserved type: " ~ lexeme.reserved.type) }}
                    {%- endif -%}
                , priority = {{ 3000000 + loop.index }})]
            {%- else -%}
                {{ throw(message = "Unrecognized lexeme type: " ~ lexeme.type) }}
            {%- endif -%}
        {%- endfor %}
        Lexeme(LexemeKind),
    }
{% endfor %}
