use std::ops::Range;

use strum_macros::{Display, EnumString, IntoStaticStr};

#[derive(Debug)]
pub struct Lexeme {
    pub kind: LexemeKind,
    pub range: Range<usize>,
}

#[derive(Clone, Debug, Display, EnumString, IntoStaticStr, PartialEq)]
#[allow(clippy::upper_case_acronyms, non_camel_case_types)]
pub enum LexemeKind {
    UNRECOGNIZED,

    {% for kind in model.parser.lexer.lexeme_kinds -%}
        {{ kind }},
    {% endfor %}
}
