use std::ops::Range;

use slang_solidity_v2_cst::terminals::TerminalKind;
use strum::{Display, EnumString, IntoStaticStr};

#[derive(Debug)]
pub struct Lexeme {
    pub kind: LexemeKind,
    pub range: Range<usize>,
}

#[derive(Clone, Debug, Display, EnumString, IntoStaticStr, PartialEq)]
#[allow(clippy::upper_case_acronyms, non_camel_case_types)]
pub enum LexemeKind {
    UNRECOGNIZED,

    {% for kind in model.parser.lexer.all_lexeme_kinds -%}
        {{ kind }},
    {% endfor %}
}

impl LexemeKind {
    pub fn is_trivia(&self) -> bool {
        matches!(
            self,
            {% for kind in model.parser.lexer.trivia_lexeme_kinds -%}
                Self::{{ kind }}
                {% if not loop.last %} | {% endif %}
            {% endfor %}
        )
    }
}

#[allow(clippy::too_many_lines)]
impl From<&LexemeKind> for TerminalKind {
    fn from(kind: &LexemeKind) -> Self {
        match kind {
            LexemeKind::UNRECOGNIZED => TerminalKind::UNRECOGNIZED,

            {% for kind in model.parser.lexer.all_lexeme_kinds -%}
                {% if model.parser.lexer.trivia_lexeme_kinds is not containing(kind) -%}
                    LexemeKind::{{ kind }} => TerminalKind::{{ kind | replace(from="_Reserved", to="") | replace(from="_Unreserved", to="") }},
                {% endif -%}
            {%- endfor %}

            {% for kind in model.parser.lexer.trivia_lexeme_kinds -%}
                LexemeKind::{{ kind }} => unreachable!("Trivia lexeme kind: {kind:?}"),
            {%- endfor %}
        }
    }
}
