{%- import "src/utils/_render_snapshot_tests.rs.jinja2" as common -%}

{{
    common::render_snapshot_tests(
        crate_name="solidity_testing_snapshots",
        path="cst_output",
        runner="crate::cst::cst_output::runner",
    )
}}
