[package]
name = "codegen_runtime_cargo_wasm"
version.workspace = true
rust-version.workspace = true
edition.workspace = true
publish = false

# At the time of writing, building 'cdylib' plugins with Cargo has limited support
# (see <https://github.com/rust-lang/cargo/issues/8628> for the general tracking issue).
# To workaround some of the issues, we create a separate 'cdylib' crate that defines the WASM wrappers.
[lib]
crate-type = ["cdylib"]

[dependencies]
codegen_runtime_cargo_crate = { workspace = true, features = ["__private_wasm_apis"] }
paste = { workspace = true }
semver = { workspace = true }
serde_json = { workspace = true }
wit-bindgen = { workspace = true }

[lints]
workspace = true
