{%- set target = model.structured_cst_model -%}

#![allow(clippy::wildcard_imports)]

use std::ops::Range;
use std::rc::Rc;

use crate::structured_cst::nodes::*;

use super::text_end::TextEnd;
use super::text_start::TextStart;

/// A trait for CST nodes that can report their text range in the source.
pub trait TextRange {
    /// Returns the text range of this node, or `None` if the node is empty.
    fn calculate_text_range(&self) -> Option<Range<usize>>;
}

impl<T: TextRange> TextRange for Option<T> {
    fn calculate_text_range(&self) -> Option<Range<usize>> {
        self.as_ref().and_then(TextRange::calculate_text_range)
    }
}

impl<T: TextRange> TextRange for Rc<T> {
    fn calculate_text_range(&self) -> Option<Range<usize>> {
        (**self).calculate_text_range()
    }
}

{% for parent_type, sequence in target.sequences %}
    impl TextRange for {{ parent_type }}Struct {
        fn calculate_text_range(&self) -> Option<Range<usize>> {
            Some(self.calculate_text_start()?..self.calculate_text_end()?)
        }
    }
{% endfor %}

{% for parent_type, choice in target.choices %}
    impl TextRange for {{ parent_type }} {
        fn calculate_text_range(&self) -> Option<Range<usize>> {
            Some(self.calculate_text_start()?..self.calculate_text_end()?)
        }
    }
{% endfor %}

{% for parent_type, collection in target.collections %}
    impl TextRange for {{ parent_type }} {
        fn calculate_text_range(&self) -> Option<Range<usize>> {
            Some(self.calculate_text_start()?..self.calculate_text_end()?)
        }
    }
{% endfor %}

{% for parent_type in target.terminals %}
    impl TextRange for {{ parent_type }} {
        fn calculate_text_range(&self) -> Option<Range<usize>> {
            Some(self.calculate_text_start()?..self.calculate_text_end()?)
        }
    }
{% endfor %}
