[profile.dev.build-override]
debug = true

[profile.release]
incremental = true
lto = true

[build]
# TODO: Replace with `[lints]` once we upgrade to Rust 1.74
# https://blog.rust-lang.org/2023/11/16/Rust-1.74.0.html#lint-configuration-through-cargo
rustflags = [
	# rustc additional warnings:
	"--warn",
	"unused_crate_dependencies",
	"--warn",
	"nonstandard_style",
	"--warn",
	"rust_2018_idioms",
	# clippy additional warnings:
	"--warn",
	"clippy::wildcard_imports",
]
