{% macro render_rewriter(language) -%}
  {%- set target = model.ir_languages[language].target -%}
  #![allow(clippy::too_many_lines)]

  use std::rc::Rc;
  #[allow(clippy::wildcard_imports)]
  use super::nodes::*;

  pub trait Rewriter {
    //
    // Sequences:
    //
    {% for parent_type, sequence in target.sequences %}
      fn rewrite_{{ parent_type | snake_case }}(&mut self, source: &{{ parent_type }}) -> {{ parent_type }} {
        {% for field in sequence.fields %}
          {%- if field.is_optional -%}
            let {{ field.label }} = source.{{ field.label }}.as_ref().map(
              {%- if field.is_terminal -%}
                Rc::clone
              {%- else -%}
                |value| self.rewrite_{{ field.type | snake_case }}(value)
              {%- endif -%}
            );
          {%- else -%}
            let {{ field.label }} =
            {%- if field.is_terminal -%}
              Rc::clone(&source.{{ field.label }})
            {%- else -%}
              self.rewrite_{{ field.type | snake_case }}(&source.{{ field.label }})
            {%- endif -%}
            ;
          {%- endif -%}
        {%- endfor %}

        Rc::new({{ parent_type }}Struct {
          node_id: source.node_id,
          {%- for field in sequence.fields -%}
            {{ field.label }},
          {%- endfor %}
        })
      }
    {% endfor %}

    //
    // Choices:
    //
    {% for parent_type, choice in target.choices %}
      fn default_rewrite_{{ parent_type | snake_case }}(&mut self, source: &{{ parent_type }}) -> {{ parent_type }} {
        match source {
          {% for nonterminal in choice.nonterminal_types -%}
            {{ parent_type }}::{{ nonterminal }}(ref {{ nonterminal | snake_case }}) => {
              {{ parent_type }}::{{ nonterminal }}(self.rewrite_{{ nonterminal | snake_case }}({{ nonterminal | snake_case }}))
            }
          {%- endfor %}
          {%- for terminal in choice.non_unique_terminal_types -%}
            {{ parent_type }}::{{ terminal }}(node) => {{ parent_type }}::{{ terminal }}(Rc::clone(node)),
          {%- endfor -%}
          {%- for terminal in choice.unique_terminal_types -%}
            {{ parent_type }}::{{ terminal }} => {{ parent_type }}::{{ terminal }},
          {%- endfor -%}
        }
      }
      fn rewrite_{{ parent_type | snake_case }}(&mut self, source: &{{ parent_type }}) -> {{ parent_type }} {
        self.default_rewrite_{{ parent_type | snake_case }}(source)
      }
    {% endfor %}

    //
    // Repeated & Separated
    //
    {% for parent_type, collection in target.collections %}
      fn rewrite_{{ parent_type | snake_case }}(&mut self, source: &{{ parent_type }}) -> {{ parent_type }} {
        source.iter().map(
          {%- if collection.is_terminal -%}
            Rc::clone
          {%- else -%}
            |item| self.rewrite_{{ collection.item_type | snake_case }}(item)
          {%- endif -%}
        ).collect()
      }
    {% endfor %}
  }

{% endmacro render_rewriter %}
