{%- set target = model.ir_language_model.target -%}

use std::sync::Arc;
use std::ops::Range;
use std::vec::Vec;

pub(super) use slang_solidity_v2_common::nodes::NodeId;

//
// Sequences
//

{% for parent_type, sequence in target.sequences %}
  pub type {{ parent_type }} = Arc<{{ parent_type }}Struct>;

  #[derive(Debug)]
  pub struct {{ parent_type }}Struct {
    pub(crate) id: NodeId,
    pub range: Range<usize>,
    {%- for field in sequence.fields %}
      pub {{ field.label | snake_case }}:
      {%- if field.field_type.kind == "External" -%}
        {%- if field.is_optional -%}
          bool,
        {%- else -%}
          {{ throw(message="Cannot generate sequence field for non-optional external type") }},
        {%- endif -%}
      {%- elif field.is_optional -%}
        Option<{{ field.field_type.name }}>,
      {%- else -%}
        {{ field.field_type.name }},
      {%- endif -%}
    {% endfor -%}
  }

  impl {{ parent_type }}Struct {
    pub fn id(&self) -> NodeId {
      self.id
    }
  }

{% endfor %}

//
// Choices
//

{% for parent_type, choice in target.choices %}
  {% set_global all_external = true %}
  {% set_global all_terminals = true %}
  {% for variant in choice.variants %}
    {% if not variant.is_external %}
      {% set_global all_external = false %}
    {% endif %}
    {% if not variant.is_terminal %}
      {% set_global all_terminals = false %}
    {% endif %}
  {% endfor %}
  {% if all_external -%}
    #[derive(Clone, Copy, Debug, Eq, Hash, PartialEq)]
  {%- else -%}
    #[derive(Clone, Debug)]
  {%- endif %}
  pub enum {{ parent_type }} {
    {% for variant in choice.variants -%}
      {{ variant.name }}
      {%- if variant.kind != "External" -%}
        ({{ variant.name }})
      {%- endif -%}
      ,
    {%- endfor -%}
  }
  
  {% if all_terminals -%}
  impl {{ parent_type }} {
    pub fn unparse(&self) -> &str {
      match self {
        {% for variant in choice.variants -%}
          {{ parent_type }}::{{ variant.name }}(inner) => {
            inner.unparse()
          }
        {%- endfor -%}
      }
    }
   }
   {%- endif %}
{% endfor %}

//
// Repeated & Separated
//

{% for parent_type, collection in target.collections %}
  pub type {{ parent_type }} = Vec<
    {{ collection.item_type.name }}
  >;
{% endfor %}

//
// Terminals
//

{% for terminal_type, terminal in target.terminals %}
  pub type {{ terminal_type }} = Arc<{{ terminal_type }}Struct>;

  #[derive(Clone, Debug, Eq, PartialEq)]
  pub struct {{ terminal_type }}Struct {
    pub(crate) id: NodeId,
    pub range: Range<usize>,
    {%- if not terminal.unique_symbol %}
      pub text: String,
    {%- endif %}
  }

  impl {{ terminal_type }}Struct {
    pub fn id(&self) -> NodeId {
      self.id
    }

    {%- if terminal.unique_symbol %}
    pub fn unparse(&self) -> &'static str {
        "{{ terminal.unique_symbol }}"
    }
    {%- else %}
    pub fn unparse(&self) -> &str {
        &self.text
    }
    {%- endif %}
  }
{% endfor %}
