{%- if rendering_in_stubs -%}
  export abstract class BaseRewriter { }
{%- else -%} 
  import { NonterminalKind, NonterminalNode, Node, NodeType, TerminalNode, TerminalKind, Edge } from "../index.mjs";

  export abstract class BaseRewriter {
    
    public rewriteNode(node: Node): Node | undefined {
      switch (node.type) {
        case NodeType.TerminalNode:
          return this.rewriteTerminalNode(node);
        case NodeType.NonterminalNode:
          return this.rewriteNonterminalNode(node);
      }
    }

    public rewriteNonterminalNode(node: NonterminalNode): Node | undefined {
      switch (node.kind) {
        {% for nonterminal in model.kinds.nonterminal_kinds %}
        case NonterminalKind.{{ nonterminal.id }}:
          return this.rewrite{{- nonterminal.id -}}(node);
        {% endfor %}
      }
    }

    public rewriteTerminalNode(node: TerminalNode): Node | undefined {
      switch (node.kind) {
        {% for terminal in model.kinds.terminal_kinds %}
        case TerminalKind.{{ terminal.id }}:
          return this.rewrite{{- terminal.id -}}(node);
        {% endfor %}
        case TerminalKind.Unrecognized:
          return this.rewriteUnrecognized(node);
        case TerminalKind.Missing:
          return this.rewriteMissing(node);
      }
    }

    {% for nonterminal in model.kinds.nonterminal_kinds %}     
      /** @virtual */
      public rewrite{{- nonterminal.id -}}(node: NonterminalNode): Node | undefined {
        return this.rewriteChildren(NonterminalKind.{{- nonterminal.id -}}, node);
      }
    {% endfor %}
    
    {% for terminal in model.kinds.terminal_kinds %}     
      /** @virtual */
      public rewrite{{- terminal.id -}}(node: TerminalNode): Node | undefined {
        return node;
      }
    {% endfor %}
    
    public rewriteUnrecognized(node: TerminalNode): Node | undefined {
      return node;
    }
  
    public rewriteMissing(node: TerminalNode): Node | undefined {
      return node;
    }
  
    protected rewriteChildren(kind: NonterminalKind, node: NonterminalNode): NonterminalNode {
      let newChildren: Map<number, Edge | "delete"> | undefined = undefined;
      const children = node.children();
      children.forEach((child, index) => {
        const newChild = this.rewriteNode(child.node);
        if (newChild == undefined) {
          // node was removed, mark the removal
          newChildren = newChildren || new Map<number, Edge | "delete">();
          newChildren.set(index, "delete");
        } else {
          let edge;
          if (newChild.id == child.node.id) {
            edge = child;
          } else {
            // node has changed, produce new edge
            switch (newChild.type) {
              case NodeType.TerminalNode:
                edge = Edge.createWithTerminal(child.label, newChild);
                break;
              case NodeType.NonterminalNode:
                edge = Edge.createWithNonterminal(child.label, newChild);
                break;
            }
          }
          newChildren = newChildren || new Map<number, Edge | "delete">();
          newChildren.set(index, edge);
        }
      });

      if (newChildren != undefined) {
        let deleted = 0;
        const map = newChildren as Map<number, Edge | "delete">;
        for (const [index, edge] of map) {
          if (edge == "delete") {
            children.splice(index - deleted, 1);
            deleted += 1;
          } else {
            children[index + deleted] = edge;
          }
        }

        const newNode = NonterminalNode.create(kind, children);
        return newNode;
      } else {
        return node;
      }
    }
  }
{%- endif -%}
