use crate::cursor::Cursor;

pub(crate) trait UserDefinedQueries {
    {%- for query, captures in queries -%}
        {#
         # TODO(#554): not sure if this type is expected to be side-effect free implementation,
         # or is it going to carry an incremental state. We can add other callbacks as needed.
         #}

        fn {{ query }}(
          {%- for capture in captures -%}
            {{ capture }}: &Cursor,
          {%- endfor -%}
        );
    {%- endfor -%}
}
