[data-md-color-scheme="override-light"] {
  --md-default-fg-color: #111111;
  --md-default-bg-color: #eeeeee;

  --md-code-fg-color: var(--md-default-fg-color);
  --md-code-bg-color: #cacaca;
}

[data-md-color-scheme="override-dark"] {
  --md-default-fg-color: #a4acc4;
  --md-default-bg-color: #10121b;

  --md-code-fg-color: var(--md-default-fg-color);
  --md-code-bg-color: #2a2e3e;
}

:root {
  --md-primary-fg-color: #0056b1;
  --md-accent-fg-color: #003874;

  --md-default-fg-color--light: hsl(from var(--md-default-fg-color) h s calc(l + 5%));
  --md-default-fg-color--lighter: hsl(from var(--md-default-fg-color) h s calc(l + 10%));
  --md-default-fg-color--lightest: hsl(from var(--md-default-fg-color) h s calc(l + 15%));

  --md-default-bg-color--light: hsl(from var(--md-default-bg-color) h s calc(l + 5%));
  --md-default-bg-color--lighter: hsl(from var(--md-default-bg-color) h s calc(l + 10%));
  --md-default-bg-color--lightest: hsl(from var(--md-default-bg-color) h s calc(l + 15%));
}
