interface ast {
    use cst.{node, nonterminal-node};

    /// @internal
    resource selectors {
        sequence: static func(node: borrow<nonterminal-node>) -> result<list<option<node>>, string>;
        choice: static func(node: borrow<nonterminal-node>) -> result<node, string>;
        repeated: static func(node: borrow<nonterminal-node>) -> result<list<node>, string>;
        separated: static func(node: borrow<nonterminal-node>) -> result<list<list<node>>, string>;
    }
}
