interface utils {
    /// Provides information about the supported language versions and the grammar.
    resource language-facts {
        /// Returns a list of language versions supported by Slang, sorted ascendingly.
        all-versions: static func() -> list<string>;

        /// Returns the earliest language version supported by Slang.
        earliest-version: static func() -> string;

        /// Returns the latest language version supported by Slang.
        latest-version: static func() -> string;

        /// Analyze the version pragmas within a source file, and return a list of supported language versions that match these pragmas.
        /// If the source file contains no pragmas, all versions supported by Slang are returned.
        infer-language-versions: static func(input: string) -> list<string>;
    }
}
