{#- Renders `LanguageVersion::V0_8_X` from a dotted version string like "0.8.13". -#}
{%- component v2.versions.version(v) -%}
    LanguageVersion::V{{ v | split(pat=".") | join(sep="_") }}
{%- endcomponent v2.versions.version -%}

{#- Renders a `LanguageVersionSpecifier::<variant>(..)` constructor call from a `VersionSpecifier`-shaped object. -#}
{%- component v2.versions.specifier(s) -%}
    {%- if s.type == "From" -%}
        LanguageVersionSpecifier::from(
            {{<v2.versions.version v={s.from} />}}
        )
    {%- elif s.type == "Till" -%}
        LanguageVersionSpecifier::till(
            {{<v2.versions.version v={s.till} />}}
        )
    {%- elif s.type == "Range" -%}
        LanguageVersionSpecifier::range(
            {{<v2.versions.version v={s.from} />}},
            {{<v2.versions.version v={s.till} />}},
        )
    {%- else -%}
        {{ throw(message="Unexpected version specifier type: " ~ s.type) }}
    {%- endif -%}
{%- endcomponent v2.versions.specifier -%}
