{
  "mappings": {
    "nomic-foundation:slang:cst:terminal-kind": {
      "Enum": {
        "as_typescript_enum": true
      }
    },
    "nomic-foundation:slang:cst:nonterminal-kind": {
      "Enum": {
        "as_typescript_enum": true
      }
    },
    "nomic-foundation:slang:cst:edge-label": {
      "Enum": {
        "as_typescript_enum": true
      }
    },
    "nomic-foundation:slang:cst:node": {
      "Variant": {
        "as_direct_union_of_resource_classes": true
      }
    },
    "nomic-foundation:slang:cst:nonterminal-node": {
      "Resource": {
        "custom_inspect": true
      }
    },
    "nomic-foundation:slang:cst:nonterminal-node.id()": {
      "Function": {
        "as_getter": true
      }
    },
    "nomic-foundation:slang:cst:nonterminal-node.kind()": {
      "Function": {
        "as_getter": true
      }
    },
    "nomic-foundation:slang:cst:nonterminal-node.text-length()": {
      "Function": {
        "as_getter": true
      }
    },
    "nomic-foundation:slang:cst:nonterminal-node.children()": {
      "Function": {
        "as_getter": true
      }
    },
    "nomic-foundation:slang:cst:terminal-node": {
      "Resource": {
        "custom_inspect": true
      }
    },
    "nomic-foundation:slang:cst:terminal-node.id()": {
      "Function": {
        "as_getter": true
      }
    },
    "nomic-foundation:slang:cst:terminal-node.kind()": {
      "Function": {
        "as_getter": true
      }
    },
    "nomic-foundation:slang:cst:terminal-node.text-length()": {
      "Function": {
        "as_getter": true
      }
    },
    "nomic-foundation:slang:cst:terminal-node.children()": {
      "Function": {
        "as_getter": true
      }
    },
    "nomic-foundation:slang:cst:cursor.node()": {
      "Function": {
        "as_getter": true
      }
    },
    "nomic-foundation:slang:cst:cursor.label()": {
      "Function": {
        "as_getter": true
      }
    },
    "nomic-foundation:slang:cst:cursor.text-offset()": {
      "Function": {
        "as_getter": true
      }
    },
    "nomic-foundation:slang:cst:cursor.text-range()": {
      "Function": {
        "as_getter": true
      }
    },
    "nomic-foundation:slang:cst:cursor.depth()": {
      "Function": {
        "as_getter": true
      }
    },
    "nomic-foundation:slang:cst:cursor.ancestors()": {
      "Function": {
        "as_getter": true
      }
    },
    "nomic-foundation:slang:cst:query-match.captures": {
      "ListOfTuple": {
        "as_dictionary": true
      }
    },
    "nomic-foundation:slang:cst:query-match-iterator": {
      "Resource": {
        "as_iterator": true
      }
    },
    "nomic-foundation:slang:parser:parser.version()": {
      "Function": {
        "as_getter": true
      }
    },
    "nomic-foundation:slang:parser:parse-error.text-range()": {
      "Function": {
        "as_getter": true
      }
    },
    "nomic-foundation:slang:parser:parse-error.message()": {
      "Function": {
        "as_getter": true
      }
    },
    "nomic-foundation:slang:parser:parse-output.tree()": {
      "Function": {
        "as_getter": true
      }
    },
    "nomic-foundation:slang:parser:parse-output.errors()": {
      "Function": {
        "as_getter": true
      }
    }
  }
}
