[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs = "==1.4.2"
mkdocs-literate-nav = "==0.6.0"
mkdocs-material = "==9.1.1"
mkdocs-minify-plugin = "==0.6.2"
mkdocs-pymdownx-material-extras = "==2.4.2"
