name: "jobs/github-pages"

on:
  # Run when invoked from other workflows:
  workflow_call: {}

jobs:
  prepare:
    runs-on: "ubuntu-22.04" # _SLANG_DEV_CONTAINER_BASE_IMAGE_ (keep in sync)

    steps:
      #
      # _DEVCONTAINER_PREPARATION_STEPS_ (keep in sync)
      # Cache is updated in the "ci" workflow, then reused here.
      #

      - name: "Clone repository"
        uses: "actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633"

      - name: "Restore CI cache"
        uses: "actions/cache/restore@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9"
        with:
          key: "cache-${{ github.ref_name }}-${{ hashFiles('Cargo.lock') }}-${{ hashFiles('package-lock.json') }}"
          restore-keys: |
            cache-${{ github.ref_name }}-
            cache-main-
            cache-
          path: |
            ~/.cache/hermit/
            ~/.local/share/virtualenvs/
            .hermit/

      #
      # Deploy to GitHub Pages:
      #

      - run: "scripts/bin/infra setup pipenv"
      - run: "scripts/bin/infra check mkdocs"

      - name: "Configure GitHub Pages"
        uses: "actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b"

      - name: "Upload artifacts"
        uses: "actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa"
        with:
          path: "documentation/target/site" # _SLANG_MKDOCS_DOCUMENTATION_SITE_DIR_ (keep in sync)

  deploy:
    runs-on: "ubuntu-22.04" # _SLANG_DEV_CONTAINER_BASE_IMAGE_ (keep in sync)
    needs: "prepare"

    permissions:
      pages: "write" # to deploy to Pages
      id-token: "write" # to verify the deployment originates from an appropriate source

    steps:
      - name: "Deploy to GitHub Pages"
        id: "deployment"
        uses: "actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e"

    environment:
      name: "github-pages"
      url: "${{ steps.deployment.outputs.page_url }}"
