name: "jobs/publish"

permissions:
  contents: "write" # to create new branches and releases
  pull-requests: "write" # to create new pull requests for changesets

on:
  # Run when invoked from other workflows:
  workflow_call: {}

jobs:
  changesets:
    runs-on: "ubuntu-22.04" # _SLANG_DEV_CONTAINER_BASE_IMAGE_ (keep in sync)

    steps:
      #
      # _DEVCONTAINER_PREPARATION_STEPS_ (keep in sync)
      # Cache is updated in the "ci" workflow, then reused here.
      #

      - name: "Clone repository"
        uses: "actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11"

      - name: "Restore CI cache"
        uses: "actions/cache/restore@13aacd865c20de90d75de3b17ebe84f7a17d57d2"
        with:
          key: "cache-${{ github.ref_name }}-${{ hashFiles('Cargo.lock') }}-${{ hashFiles('package-lock.json') }}"
          restore-keys: |
            cache-${{ github.ref_name }}-
            cache-main-
            cache-
          path: |
            ~/.cache/hermit/
            ~/.local/share/virtualenvs/
            .hermit/

      #
      # Publish Changesets:
      #

      - run: "scripts/bin/infra setup npm"

      - id: "changesets"
        uses: "changesets/action@f13b1baaa620fde937751f5d2c3572b9da32af23"
        with:
          title: "Bump Slang Version"
          commit: "Bump Slang Version"
          createGithubReleases: false
          version: "scripts/bin/infra publish changesets"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

    outputs:
      hasChangesets: "${{ steps.changesets.outputs.hasChangesets }}"

  assets:
    needs: "changesets"
    runs-on: "ubuntu-22.04" # _SLANG_DEV_CONTAINER_BASE_IMAGE_ (keep in sync)

    if: "${{ needs.changesets.outputs.hasChangesets == 'false' }}"

    steps:
      #
      # _DEVCONTAINER_PREPARATION_STEPS_ (keep in sync)
      # Cache is updated in the "ci" workflow, then reused here.
      #

      - name: "Clone repository"
        uses: "actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11"

      - name: "Restore CI cache"
        uses: "actions/cache/restore@13aacd865c20de90d75de3b17ebe84f7a17d57d2"
        with:
          key: "cache-${{ github.ref_name }}-${{ hashFiles('Cargo.lock') }}-${{ hashFiles('package-lock.json') }}"
          restore-keys: |
            cache-${{ github.ref_name }}-
            cache-main-
            cache-
          path: |
            ~/.cache/hermit/
            ~/.local/share/virtualenvs/
            .hermit/

      #
      # Build and Publish:
      #

      - run: "scripts/bin/infra setup cargo npm"

      - run: "scripts/bin/infra publish npm"
        env:
          NPM_TOKEN: "${{ secrets.NPM_TOKEN }}"

      - run: "scripts/bin/infra publish cargo"
        env:
          CARGO_REGISTRY_TOKEN: "${{ secrets.CARGO_REGISTRY_TOKEN }}"

      - run: "scripts/bin/infra publish github-release"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
