name: "jobs/publish"

on:
  # Run when invoked from other workflows:
  workflow_call: {}

jobs:
  run:
    runs-on: "ubuntu-22.04"

    permissions:
      contents: "write" # to create new branches and releases
      pull-requests: "write" # to create new pull requests for changesets

    steps:
      #
      # _DEVCONTAINER_PREPARATION_STEPS_ (keep in sync)
      # Cache is updated in the "check" workflow, then reused here.
      #

      - name: "Clone repository"
        uses: "actions/checkout@v3.4.0"

      - name: "Restore hermit cache"
        uses: "actions/cache/restore@v3.3.1"
        with:
          path: ".hermit/"
          key: "hermit-cache-${{ hashFiles('**/Cargo.lock', '**/package-lock.json', '**/Pipfile.lock') }}"
          fail-on-cache-miss: true

      - name: "Restore build cache"
        uses: "actions/cache/restore@v3.3.1"
        with:
          path: "target/"
          key: "build-cache-${{ hashFiles('**/Cargo.lock', '**/package-lock.json', '**/Pipfile.lock') }}"
          fail-on-cache-miss: true

      - name: "Build devcontainer"
        uses: "./.devcontainer"
        with:
          entrypoint: "echo"

      - name: "Install Dependencies"
        uses: "./.devcontainer"
        with:
          entrypoint: "scripts/setup/all.sh"

      #
      # Analyze changesets, and create a pull request if there are any.
      #

      - name: "Analyze Changesets"
        id: "changesets"
        uses: "changesets/action@v1.4.1"
        with:
          title: "Bump Slang Version"
          commit: "Bump Slang Version"
          createGithubReleases: false
          version: "scripts/changelog/bump-version.sh"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

      #
      # Build and Publish:
      #

      - name: "Build Native Binaries"
        uses: "./.devcontainer"
        with:
          entrypoint: "scripts/npm/build.sh"
        env:
          SLANG_CROSS_BUILD: "true"

      - name: "Publish to NPM"
        uses: "./.devcontainer"
        with:
          entrypoint: "scripts/npm/publish.sh"
        env:
          SLANG_PUBLISH: "${{ steps.changesets.outputs.hasChangesets == 'false' }}"
          NPM_TOKEN: "${{ secrets.NPM_TOKEN }}"

      - name: "Publish to Cargo"
        uses: "./.devcontainer"
        with:
          entrypoint: "scripts/cargo/publish.sh"
        env:
          SLANG_PUBLISH: "${{ steps.changesets.outputs.hasChangesets == 'false' }}"
          CARGO_REGISTRY_TOKEN: "${{ secrets.CARGO_REGISTRY_TOKEN }}"

      - name: "Create GitHub Release"
        uses: "./.devcontainer"
        with:
          entrypoint: "scripts/changelog/create-release.sh"
        env:
          SLANG_PUBLISH: "${{ steps.changesets.outputs.hasChangesets == 'false' }}"
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
