name: "jobs/github-pages"

permissions:
  pages: "write" # to deploy to Pages
  id-token: "write" # to verify the deployment originates from an appropriate source

on:
  # Run when invoked from other workflows:
  workflow_call: {}

jobs:
  run:
    runs-on: "ubuntu-22.04" # _SLANG_DEV_CONTAINER_BASE_IMAGE_ (keep in sync)

    environment:
      name: "github-pages"
      url: "${{ steps.deployment.outputs.page_url }}"

    steps:
      #
      # _DEVCONTAINER_PREPARATION_STEPS_ (keep in sync)
      # Cache is updated in the "ci" workflow, then reused here.
      #

      - name: "Clone repository"
        uses: "actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11"

      - name: "Restore CI cache"
        uses: "actions/cache/restore@13aacd865c20de90d75de3b17ebe84f7a17d57d2"
        with:
          key: "cache-${{ github.ref_name }}-${{ hashFiles('Cargo.lock') }}-${{ hashFiles('package-lock.json') }}"
          restore-keys: |
            cache-${{ github.ref_name }}-
            cache-main-
            cache-
          path: |
            ~/.cache/hermit/
            ~/.local/share/virtualenvs/
            .hermit/

      #
      # Deploy to GitHub Pages:
      #

      - run: "scripts/bin/infra setup pipenv"
      - run: "scripts/bin/infra check mkdocs"

      - name: "Configure GitHub Pages"
        uses: "actions/configure-pages@7110e9e03ffb4a421945e5d0607007b8e9f1f52b"

      - name: "Upload artifacts"
        uses: "actions/upload-pages-artifact@0252fc4ba7626f0298f0cf00902a25c6afc77fa8"
        with:
          path: "documentation/target/site" # _SLANG_MKDOCS_DOCUMENTATION_SITE_DIR_ (keep in sync)

      - name: "Deploy to GitHub Pages"
        id: "deployment"
        uses: "actions/deploy-pages@87c3283f01cd6fe19a0ab93a23b2f6fcba5a8e42"
