name: check
on:
  push:
    branches-ignore:
      - parser
  pull_request:

jobs:
  check:
    strategy:
      matrix:
        script:
          [
            "./documentation/scripts/build.sh",
            "./tools/linting/scripts/run.sh",
            "./tools/version-breaks/scripts/check.sh",
          ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.devcontainer
        with:
          entrypoint: ${{ matrix.script }}
