name: "deploy"

on:
  # Run using manual triggers from GitHub UI:
  # https://docs.github.com/en/actions/managing-workflow-runs/manually-running-a-workflow
  workflow_dispatch: {}

  # Run on pushes to 'main' branch':
  push:
    branches:
      - "main"

# We publish multiple packages for each version.
# Wait for any existing deploys to complete before starting a new one:
concurrency:
  group: "deploy"
  cancel-in-progress: false

jobs:
  publish:
    uses: "./.github/workflows/_jobs_publish.yml"
    secrets: "inherit"
